#{extends 'main.html' /}
#{set title:'Create insight' /}

#{set currentMenu:'menuCreate' /}

#{set 'moreScripts'}
    <script src="@{'/public/javascripts/jquery.validate.min.js'}" type="text/javascript" charset="utf-8"></script>
#{/set}

<div class="prepend-4 span-14 append-4 last">

    #{form @Application.createInsight(), id:'insightCreationForm'}
        <p>What is going to happen?</p>
        <p>
            <label for="endDate">On </label>
            <input type="text" name="endDate" id="endDate" class="datePicker" size="10" value="${endDate?.format("yyyy-MM-dd")}" />,
            #{if errors.forKey('endDate')}<span class="error">${errors.forKey('endDate')}</span>#{/if} 
            <input type="text" name="insightContent" id="insightContent" value="${insightContent}"/>
            #{if errors.forKey('insightContent')}<span class="error">${errors.forKey('insightContent')}</span>#{/if}
        </p>
        <script type="text/javascript">
	        $(function() {
	          $(".datePicker").datepicker({ 
		          dateFormat: 'yy-mm-dd',
		          showOtherMonths: true,
		          selectOtherMonths: true,
		          minDate: 0
				} );
	        });
        </script>
        <p>
            <label for="tagLabelList">Tags:</label>
            <input type="text" name="tagLabelList" id="tagLabelList" value="${tagLabelList}" />
            #{if errors.forKey('tagLabelList')}<span class="error">${errors.forKey('tagLabelList')}</span>#{/if}
            <label for="category">Category:</label>
               #{selectCategories none:true/}
               #{if errors.forKey('categoryId')}<span class="error">${errors.forKey('categoryId')}</span>#{/if}
            <input style="display:none;" id="insightCreationLang" name="lang" value="${insightLang}" />
            <a id="insightCreationLangEn" class="insightCreationLangChoose" href="" onclick="return false;">
                <img alt="English flag" class="languageFlag #{if insightLang.equals("en")}selected#{/if}" src="@{'/public/images/flags/gb.png'}" />
            </a>
            <a id="insightCreationLangFr" class="insightCreationLangChoose" href="" onclick="return false;">
                <img alt="French flag" class="languageFlag #{if insightLang.equals("fr")}selected#{/if}" src="@{'/public/images/flags/fr.png'}" />
            </a>
        </p>
        <p>
            <input type="submit" value="Create" />
        </p>
    #{/form}
</div>
