#{extends 'main.html' /}
#{set title:'Home' /}



#{form @Application.createInsight()}

    <p>
        <label for="author">Share your insight :</label>
        <input type="text" name="insight" id="insight" />
    </p>


#{/form}

#{if flash.error}
    <p>${flash.error}</p>
#{/if}

<ul>
    #{list items:insights, as:'insight' }
        <li>${insight.content} (by ${insight.creator.userName}) <a href="@{Application.agree(insight.id)}">Agree</a> &nbsp; <a href="@{Application.disagree(insight.id)}">Disagree</a></li>
    #{/list}
</ul>
