#{extends 'main.html' /}
#{set 'title'}
    &{'home'}
#{/set}

#{set currentMenu:'menuHome' /}

#{if !emailConfirmed}
<div id="plzconfirm" class="warning">
<p>&{'needemailconfirm'}</p>
</div>
#{/if}

<div id="trendingInsights">
    <h2>&{'newandtrending'}</h2>
    <ul>
        #{listInsights insights:insights /}
    </ul>
    <a href="@{Application.insights()}">&{'exploremore'}</a>
</div>

<div id="activityAroundMe">
	<h2>&{'activityaroundme'}</h2>
	<ul>
	    #{list items:insightActivity , as:'insight'} 
	        <li>#{insight insight:insight /}</li>
	    #{/list}
    </ul>
	
	<h2>&{'favorites'}</h2>
	<ul>
	    #{list items:followedInsights , as:'insight'}
	           <li>#{insight insight:insight /}</li>
	    #{/list}
	</ul>
	<ul>
        #{list items:followedUsers , as:'user'}
               <li>#{userInline user:user /}</li>
        #{/list}
    </ul>
</div>