#{extends 'main.html' /}
#{set title:'Explore insights' /}

#{set currentMenu:'menuInsights' /}

<div>
	<ul class="filters">
          <a href="@{Application.insights()}">All</a>
	   #{list items:controllers.Application.getCategories(), as:'category'}
	      <a href="@{Application.insights(category.id)}">${category.label}</a>
	   #{/list}
    </ul>
    
    <h2>Insights #{if category} in ${category} #{/if}</h2>
    <ul>
        #{listInsights insights:insights /}
    </ul>

</div>

<div>
    <h2>Favorites</h2>
    <ul>
        #{listInsights insights:followedInsights /}
    </ul>
</div>