#{extends 'main.html' /}
#{set title:'Search' /}

<div>
    <ul class="filters">
          <a href="@{Application.search(query, 0)}">All</a>
       #{list items:controllers.Application.getCategories(), as:'cat'}
          <a href="@{Application.search(query, 0, cat.id)}">${cat.label}</a>
       #{/list}
    </ul>

	<h2>Found ${count} insight${count.pluralize()} for "${query}" #{if category}in category #{/if}:</h2>
    
    <ul id="searchResults">
        #{listInsights insights:insights /}
    </ul>
    
    <div><span onClick="moreSearch()" id="moreResults" style="display:none;"><a href="" onClick="return false">more</a></span></div>
    
    <script type="text/javascript">
    // check if a "more" button soulg be displayed
    if( $("#searchResults li").length >= ${controllers.Application.NUMBER_INSIGHTS_SEARCHPAGE} ) {
            $("#moreResults").fadeIn(2000);
       }
    
    var searchFrom = ${controllers.Application.NUMBER_INSIGHTS_SEARCHPAGE};

    /** get more search results */
    function moreSearch() {
        $.ajax( {
            url: moreSearchAction({"query": "${query}", "from": searchFrom #{if category}, "categoryId": ${category.id}#{/if} }),
            success: onMoreSearchSuccess
        } );
    }
    
    function onMoreSearchSuccess(content) {
        $("#searchResults").append(content);
        searchFrom += ${controllers.Application.NUMBER_INSIGHTS_SEARCHPAGE};
        // disable the "more button" if less results than the number to display
        if( $(content).length < ${controllers.Application.NUMBER_INSIGHTS_SEARCHPAGE} ) {
            $("#moreResults").fadeOut(1000);
        }
    }
    </script>
</div>