#{extends 'main.html' /}
#{set title:insight.content /}

#{set currentMenu:'menuInsights' /}

<div class="insightDetail">

    <p>#{insight insight:insight /}</p>

    <p>Created ${insight.creationDate.since(true)}</p>
    <p>End ${insight.endDate.format("dd MMMM yyyy")}</p>
    
    #{if lastUserVote != null}
    	<p>Since ${lastUserVote.creationDate.format("dd MMMM yyyy")} you #{if lastUserVote.state.equals(models.Vote.State.AGREE)} agree #{/if} #{else} disagree #{/else} with this insight.</p> 
    #{/if}
    
    <p>Category: ${insight.category.label}</p>
    
    <p>tags:
    #{form @Application.addTags(insight.id)}
        <label for="tagLabelList">Add tag:</label>
        <input type="text" name="tagLabelList" id="tagLabelList" />
    #{/form}
    
    <ul>
    #{list items:insight.tags, as:'tag' }
        <li>${tag.label}</li>
    #{/list}
    </ul>
    
    <p>
    <ul id="commentList">
    #{list items:insight.comments, as:'comment' }
        <li>${comment.user} (${comment.creationDate.since(true)}):<br/> ${comment.content}</li>
    #{/list}
    </ul>    
    </p>

    <form id="addCommentForm">
        <div>
        <label for="label">Add new comment:</label>
        </div>
        <div class="right">
        <textarea name="content"></textarea>
        <input type="submit" value="Post" id="submit"/>
        </div>
    </form>

</div>

<script type="text/javascript" charset="utf-8">

	/** Submit action for add comment form */
	$('#addCommentForm').submit(function() {
	    $.getJSON("@{Application.addComment(insight.id)}", $(this).serialize(), onAddCommentSuccess);
	    return false;
	});
	
	/** callback for comment addition */
	function onAddCommentSuccess(data) {
	    $("#commentList").append( '<li>' + data.user + " (" + data.since + ")" + "<br/>" + data.content + '</li>');
	    clearForm('#addCommentForm');
	}

</script>