#{extends 'main.html' /}
#{set title:insight.content /}

#{set currentMenu:'menuInsights' /}

#{insightContainer insight:insight}

    #{isConnected}
    <div class="pageFavorite">
        #{followInsightWidget insight:insight /}
    </div>
    #{/isConnected}
    
    <h2>${insight.content}</h2>
    <img src='http://chart.apis.google.com/chart?chf=bg,s,F4FCF2&chs=60x40&chco=76A4FB,FF0000&cht=ls&chd=t:${agreeTrends.join(",")}'/>
    
    <div class="sideBox insightVoteDetails">
        #{isConnected}
            #{agree-disagreeWidget insight:insight /}
        #{/isConnected}
    </div>
    
    <p>Created ${insight.creationDate.since(true)} by #{userInline user:insight.creator /}</p>
    <p>End ${insight.endDate.format("dd MMMM yyyy")}</p>
    
    #{if lastUserVote != null}
    	<p>Since ${lastUserVote.creationDate.format("dd MMMM yyyy")} you #{if lastUserVote.state.equals(models.Vote.State.AGREE)} agree #{/if} #{else} disagree #{/else} with this insight.</p> 
    #{/if}
    
    <div id="lastVoters">
	    <h3>Last voters:</h3>
	    <ul>
	    #{list items:lastVotes, as:'vote'}
	        <li>#{voteInline vote:vote /}</li>
	    #{/list}
	    </ul>
    </div>
    
    <div id="category">
        <h3>Category:</h3>
        <p>${insight.category.label}</p>
    </div>
    
    <div id="tagList">
	    <h3>Tags:</h3>
	    <ul>
	    #{list items:insight.tags, as:'tag' }
	        <li>${tag.label}</li>
	    #{/list}
        </ul>
        
        #{isConnected}
        <p>
	    <span onclick="showAddMoreTags()"><a href="#">suggest other tags</a></span>
	    </p>
	    <div id="moreTags" style="display:none;">
	    #{form @Application.addTags(insight.id)}
	        <input type="text" name="tagLabelList" id="tagLabelList" />
	        <input type="submit" value="Add tags"/>
	    #{/form}
	    </div>
	    #{/isConnected}
    </div>
    
    <h3>Comments:</h3>
    <ul id="commentList">
    #{list items:insight.comments, as:'comment' }
        <li>${comment.user} (${comment.creationDate.since(true)}):<br/> ${comment.content}</li>
    #{/list}
    </ul>
#{isConnected}
    <form id="addCommentForm">
        <div>
        <label for="label">Add new comment:</label>
        </div>
        <div class="right">
        <textarea name="content"></textarea>
        <input type="submit" value="Post" id="submit"/>
        </div>
    </form>
#{/isConnected}

#{/insightContainer}

<script type="text/javascript" charset="utf-8">

/** show the more tag suggestion input field*/
	function showAddMoreTags() {
		$('#moreTags').show();
	}


	/** Submit action for add comment form */
	$('#addCommentForm').submit(function() {
	    $.getJSON("@{Application.addComment(insight.id)}", $(this).serialize(), onAddCommentSuccess);
	    return false;
	});
	
	/** callback for comment addition */
	function onAddCommentSuccess(data) {
	    $("#commentList").append( '<li>' + data.user + " (" + data.since + ")" + "<br/>" + data.content + '</li>');
	    clearForm('#addCommentForm');
	}

</script>