#{extends 'main.html' /}
#{set title:insight.content /}

<div class="insightDetail">
    <p>${insight.content}</p>
    <p>Created ${insight.creationDate.since(true)}</p>
    <p>End ${insight.endDate}</p>
    <p>By <a href="@{Application.showUser(insight.creator.id)}">${insight.creator.userName}</a></p>
    <p>Agree: ${insight.agreeCount} - Disagree: ${insight.disagreeCount} </p>
    
    #{if lastUserVote != null}
    	<p>Since ${lastUserVote.creationDate.format("dd MMMM yyyy")} you #{if lastUserVote.state.equals(models.Vote.State.AGREE)} agree #{/if} #{else} disagree #{/else} with this insight.</p> 
    #{/if}
    
    <p>Category: ${insight.category.label}</p>
    
    <p>tags:
    #{form @Application.addTags(insight.id)}
        <label for="tagLabelList">Add tag:</label>
        <input type="text" name="tagLabelList" id="tagLabelList" />
    #{/form}
    
    <ul>
    #{list items:insight.tags, as:'tag' }
        <li>${tag.label}</li>
    #{/list}
    </ul>
    
    <p>
    #{form @Application.addComment(insight.id)}
        <label for="label">Add new comment::</label>
        <input type="text" name="content" id="content" />
    #{/form}
    <ul>
    #{list items:insight.comments, as:'comment' }
        <li>${comment.user} (${comment.creationDate.since(true)}) :<br/> ${comment.content}</li>
    #{/list}
    </ul>    
    
    </p>

</div>