#{extends 'main.html' /}
#{set title:'Create Topic' /}

<script type="text/javascript">
var getTopicAction = #{jsAction @Admin.getTopic(':topicId') /};
var deleteTopicAction = #{jsAction @Admin.deleteTopic(':topicId') /};
</script>

<div>

	<ul>
		#{list items:topics , as:'topic'}
		<li id="li_${topic.id}"> <a href="#" id="deteleTopic" onclick="javascript: deleteTopic(${topic.id});">delete</a> / <a href="#" id='${topic.id}'>${topic.label}</a> (tags : #{list items:topic.tags, as:'tag'}${tag.label}#{/list})</li>
		#{/list}
	</ul>

</div>

<div class="contentlarge">
	<div class="newinsight">
    #{form @Admin.createTopic(), id:'topicCreationForm', autocomplete:'off'}
    	<input type="hidden" id="topicId" name="topicId" value=""/>
    	<div class="line-form">
            <label for="topicName">Nom du topic</label>
            <div class="item-textarea">
                <input type="text" id="topicName" name="topicName" id="topicName" class="insightContent" value=""/>
            </div>
        </div>
 
        <div class="line-form">
            <label for="taginput">&{'createInsightTags'}</label>
            <div class="item-input">
                <input class="textfield" type="text" name="" id="taginput" value="" />
                <input type="hidden" name="tagLabelList" value="" id="tagresult"/>
                #{if errors.forKey('tagLabelList')}<span class="error">${errors.forKey('tagLabelList')}</span>#{/if}
            </div>
            <div class="listtags"></div>
        </div>

        <div class="item-submit line-form">
            <button id="submitcreate"><span class="backbutton"></span><span class="txtbutton cuf-create">Save</span></button>
            <a href="#" id="resetTopicBtn">reset</a>
        </div>
    #{/form}
    </div>
</div>

<script type="text/javascript">
	
	$("#resetTopicBtn").click(function() {
		resetForm();
	});
	
	function resetForm() {
		$("#topicId").val("");
		$("#topicName").val("");
		$(".listtags").empty();
		$("#tagresult").val("");
		$("ul li #li_" + $("#topicId").val()).remove();
	}
	
	function deleteTopic(id) {
		$("#li_" + id).remove();
		$.post(deleteTopicAction({'topicId' : id}));
		
	};

	$("ul li a").click(function() {
		$(".listtags").empty();
		$.getJSON(getTopicAction({'topicId' : this.id}), function(data) {
			//alert(data.id);
			$("#topicId").val(data.id);
			//alert(data.name);
			$("#topicName").val(data.name);
			//alert(data.tags);
			$.each(data.tags, function(id, value) {
				$("#taginput").val(value);
				updateTags();
				validetag();
			});
			
		});
		
	});
</script>