#{extends 'masterMail.html' /}
#{set unsubscribe:true /}
<p>&{'emailhellouser', task.followed.userName}</p>
<p>&{'emailuserstartfollowing1'} <a href="${play.configuration.getProperty("domain.name")}@{Application.showUser(task.follower.userName)}">${task.follower.userName}</a> &{'emailuserstartfollowing2'}</p>
#{if !task.followed.isFollowingUser(task.follower)}
<p>
	<!-- This style is to display a button with "Add xxx to my favorites" written in it -->
	<a 
		style="
			display: inline-block;
			zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
			*display: inline;
			vertical-align: baseline;
			margin: 0 2px;
			outline: none;
			cursor: pointer;
			text-align: center;
			text-decoration: none;
			font: 14px/100% Arial, Helvetica, sans-serif;
			padding: .5em 2em .55em;
			text-shadow: 0 1px 1px rgba(0,0,0,.3);
			-webkit-border-radius: .5em; 
			-moz-border-radius: .5em;
			border-radius: .5em;
			-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
			-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
			box-shadow: 0 1px 2px rgba(0,0,0,.2);
			color: #e8f0de;
			border: solid 1px #538312;
			background: #64991e;
			background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
			background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
			filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');font-size: 11px;
			padding: .2em 1em .275em;"
 		href="${play.configuration.getProperty("domain.name")}@{Application.followUser(task.follower.userName)}">&{'emailuserstartfollowing2FollowBack', task.follower.userName}
 	</a>
 </p>
 #{/if}