<html><body>
<p>&{'emailhello'}</p>

<p>&{'emailinvitationmarketing'} <a href="http://www.beansight.com">beansight.com</a></p>

#{if !task.invitation.message.isEmpty()}
    <p>&{'emailinvitationinvitor', task.invitation.invitor.userName}</p>
    <p>${task.invitation.message.escape().nl2br()}<p>
#{/if}

<p>
	&{'emailinvitationbeta'} <br/>
	<a href="http://www.beansight.com@{Register.register(task.invitation.promocode, task.invitation.invitedEmail)}">&{'clickheretoregistrationpage'}</a>
</p>

<p>&{'emailsignature'}</p>
</body></html>