#{extends 'masterMail.html' /}
<p>&{'emailhello'}</p>

<p>&{'email.invitation.intro', task.invitation.invitor.userName}</p>

#{if !task.invitation.message.isEmpty()}
    <p>&{'email.invitation.invitor', task.invitation.invitor.userName}</p>
    <p>${task.invitation.message.escape().nl2br()}<p>
#{/if}

<p>&{'email.invitation.WhatIsBeansight'}</p>

<p>
	&{'email.invitation.click'} <br/>
	<a href="${play.configuration.getProperty("domain.name")}@{Register.register(task.invitation.promocode, task.invitation.invitedEmail)}">&{'email.invitation.clickhere'}</a>
</p>

<p>&{'email.invitation.SeeYouSoon'} <br/></p>