#{extends 'masterMail.html' /}
#{set unsubscribe:true /}
<p>&{'emailhellouser', task.user.userName}</p>

<p>&{'email.beansightWeeklyUpdate.intro'}</p>

<h2>&{'email.beansightWeeklyUpdate.previousWeekInsights.intro'}</h2>
#{if task.previousWeekInsights.isEmpty()}
<p>&{'email.beansightWeeklyUpdate.previousWeekInsights.no'}</p>
#{/if}
#{else}
<table>
<thead>
    <tr>
      <th style="width:230px;">&{'email.beansightWeeklyUpdate.previousWeekInsights.table.prediction'}</th>
      <th style="width:50px;">&{'email.beansightWeeklyUpdate.previousWeekInsights.table.yourVote'}</th>
      <th style="width:60px;">&{'email.beansightWeeklyUpdate.previousWeekInsights.table.result'}</th>
    </tr>
</thead>
#{list items:task.previousWeekInsights , as:"i"}
<tr>
    <td style="width:230px;">#{insightAbsoluteLink insight:i, abbreviate:true /}</td>
    <td style="width:50px;">#{weeklyMailingUserVote userId:task.user.id, insightUniqueId:i.uniqueId /}</td>
    <td style="width:60px;">#{weeklyMailingInsightResult insight:i /}</td>
</tr>
#{/list}
</table>
#{/else}


<h2>&{'email.beansightWeeklyUpdate.nextWeekInsights.intro'}</h2>
#{if task.nextWeekInsights.isEmpty()}
<p>&{'email.beansightWeeklyUpdate.nextWeekInsights.no'}</p>
#{/if}
#{else}
<table>
<thead>
    <tr>
      <th style="width:230px;">&{'email.beansightWeeklyUpdate.nextWeekInsights.table.prediction'}</th>
      <th style="width:50px;">&{'email.beansightWeeklyUpdate.nextWeekInsights.table.yourVote'}</th>
      <th style="width:60px;">&{'email.beansightWeeklyUpdate.nextWeekInsights.table.probability'}</th>
    </tr>
</thead>
#{list items:task.nextWeekInsights , as:"i"}
<tr>
    <td style="width:230px;">#{insightAbsoluteLink insight:i, abbreviate:true /}</td>
    <td style="width:50px;">#{weeklyMailingUserVote userId:task.user.id, insightUniqueId:i.uniqueId /}</td>
    <td style="width:60px; text-align: center;">#{percentage value:i.occurenceScore/}</td>
</tr>
#{/list}
</table>
#{/else}
