#{extends 'Mobile/main.html' /}
#{set 'title'}
    &{'mobile.insights.title'}
#{/set}

#{set 'moreScripts'}
<script id="insightTemplate" type="text/x-jquery-tmpl">
  <li>
	  <a href="{{= insightAction({insightUniqueId:uniqueId})}}" data-uniqueid="{{= uniqueId}}" class="insight-link">
	    <p class="endDate">{{= endDate}}</p>
	    <h3 class="content">{{= content}}</h3>
	  </a>
  </li>
</script>
#{/set}

<div data-role="page" id="page-insights">
	<div data-role="header">
		<h1>Predictions</h1>
		<div data-role="navbar">
		<ul>
			<li><a id="filter-upcomming" href="" class="ui-btn-active">Upcoming</a></li>
			<li><a id="filter-popularity" href="">Popularity</a></li>
			<li><a id="filter-update" href="">Update</a></li>
		</ul>
		</div><!-- /navbar -->
	</div><!-- /header -->

	<div data-role="content">	
	<ul data-role="listview" id="insightList">
	</ul>
	</div><!-- /content -->
	
    <div data-role="footer" class="ui-bar">
        <a id="btn-more" href="" data-role="button" data-icon="plus">More</a>
    </div>
</div><!-- /page -->

<script type="text/javascript">
    $(document).ready(function() {
        getInsights();
    });
</script>
