<!doctype html>
<html xmlns:og="http://ogp.me/ns#"
    xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>${event.title} - Beansight</title>
    
    <link rel="stylesheet" type="text/css" href="#{beansight.resource name:'/public/stylesheets/events.css' /}" />
    <link rel="stylesheet" type="text/css" href="#{beansight.resource name:'/public/stylesheets/jquery-ui/beansight/jquery-ui-1.8.10.custom.css' /}">

    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.ico'}">
    <link rel="apple-touch-icon" href="@{'/public/images/beansight_icon.jpg'}" />

    <meta property="og:title"      content="${event.title} - Beansight" />
    <meta property="og:site_name"  content="Beansight" />
    <meta property="og:type"       content="website" />
    <meta property="og:image"      content="#{if event.imageThumbURL}${event.imageThumbURL}#{/if}#{else}@@{'/public/images/beansight_icon.jpg'}#{/else}" />
    <meta property="fb:app_id"     content="${play.configuration.getProperty("facebook.client_id")}" />
    <meta property="og:url"        content="http://www.dskpote.fr" />
    <meta name="description"       content="${event.message}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js" type="text/javascript"></script>


    <script src="#{beansight.resource name:'/public/javascripts/events.js' /}" charset="utf-8"></script>

    <script type="text/javascript">
        var agreeAction     = #{jsAction @API.agree(':insightUniqueId') /};
        var disagreeAction  = #{jsAction @API.disagree(':insightUniqueId') /};
    </script>
</head>
<body style="
        background-image: url('${event.imageBackgroundLeftURL}'), url('${event.imageBackgroundRightURL}');
        background-position:top left, top right;
        background-color:#ffffff;
        background-repeat:no-repeat;
        ">

<div class="container">
    <div class="login">
        #{isConnected}
        <a href="@{EventMiniSite.logout(event.uniqueId)}">
            <span>Se déconnecter</span>
        </a>
        #{/isConnected}
        #{isNotConnected}
        <a href="@{Register.fbAuthenticate(request.url)}" class="social_buttons sb_facebook sb_24">
            <span>Connectez vous et votez</span>
        </a>
        #{/isNotConnected}
    </div>

    <div id="header">
    #{if event.imageThumbURL }
       <img src="${event.imageThumbURL}" alt="" title="image Hosted by imgur.com" class="miniImage" />
    #{/if}
	   <h1 class="event-name">${event.title}</h1>
	   <p class="description">${event.message}</p>
	</div>

    <div id="content">

    <div>
    <p>${event.shareCallToAction}</p>
   <span id="shareOnTwitter" class="shareItem">
   <a href="http://twitter.com/share" class="twitter-share-button" data-text="${event.title}" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
   </span>
   
   <span id="shareOnFacebook" class="shareItem">
   <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like layout="button_count" show_faces="false" width="50"></fb:like>
   </span>
    </div>

    <p class="callToAction">${event.callToAction}</p>
	<ul class="insightList">
	#{list items:event.getInsights(), as:'insightLine'}
	<li>
	   <p class="tagline">${insightLine.tagLine}</p>
	   #{insightContainer insight:insightLine.insight}
	    <h2 class="insightTitle">${insightLine.insight.endDate.in(true)}, ${insightLine.insight.content}</h2>
	    <div class="voteButtons">
		    <div class="linkvote agreeaction">
		        #{isConnected}<a href="#" class="voteNumber clickvote" onClick="return agree('${insightLine.insight.uniqueId}');">#{/isConnected}
		        #{isNotConnected}<a href="#" class="voteNumber loginTooltip" title="&{'agree-disagree.loginToVoteTooltip.agree'}"/>#{/isNotConnected}
		            <span class="voteCount agreeCount">${insightLine.insight.agreeCount}</span> <img src="/public/images/icon-more.png" alt=""/>
		        </a>
		    </div>
		    <div class="linkvote disagreeaction">
		        #{isConnected}<a href="#" class="voteNumber clickvote" onClick="return disagree('${insightLine.insight.uniqueId}');">#{/isConnected}
		        #{isNotConnected}<a href="#" class="voteNumber loginTooltip" title="&{'agree-disagree.loginToVoteTooltip.disagree'}"/>#{/isNotConnected}
		            <span class="voteCount disagreeCount">${insightLine.insight.disagreeCount}</span> <img src="/public/images/icon-less.png" alt=""/>
		        </a>
		    </div>
	    </div>
	   #{/insightContainer}
	</li>
	#{/list}
	</ul>
	</div>
	
	<div id="footer">
	   <div class="poweredBy">
	       <a href="@@{Application.insights(null, null, null, event.tag.label)}">
	       <p>Découvrez d'autres prédictions sur</p>
	       <img src="/public/images/logo.png" />
	       </a>
	   </div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
  // Google Analytics
  var feedback_widget_options = {};
  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "beansight";
  feedback_widget_options.placement = "left";
  feedback_widget_options.color = "#222";
  feedback_widget_options.style = "idea";
  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
  
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-16319303-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

</body>
</html>
