#{extends 'Mobile/main.html' /}
#{set 'title'}
    &{'mobile.insights.title'}
#{/set}

#{set 'moreScripts'}
<script id="insightTemplate" type="text/x-jquery-tmpl">
  <li><a href="{{= insightAction({insightUniqueId:uniqueId})}}"><span class="endDate">{{= endDate}}</span> {{= content}}</a></li>
</script>
#{/set}

<div data-role="page">

	<div data-role="header">
		<h1>Predictions</h1>
		<div data-role="navbar">
		<ul>
			<li><a href="" class="ui-btn-active">Upcomming</a></li>
			<li><a href="">Popularity</a></li>
			<li><a href="">Update</a></li>
		</ul>
		</div><!-- /navbar -->
	</div><!-- /header -->

	<div data-role="content">	
	<ul data-role="listview" id="insightList">
	</ul>
	</div><!-- /content -->
</div><!-- /page -->

<script type="text/javascript">
    $(document).ready(function() {
        getInsights();
    });
</script>