<!DOCTYPE html> 
<html> 
<head> 
    <title>#{get 'title' /} - Beansight</title> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4/jquery.mobile-1.0a4.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/beansight-mobile.css" />    
    #{get 'moreStyles' /}
        
    <script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
    <script type="text/javascript">
        // This is used to disable the "AJAX form" of jQuery Mobile"
		$(document).bind("mobileinit", function()
		{
		  $.extend(  $.mobile , {
		      ajaxFormsEnabled: false
		  });
		});
	</script>
    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0a4/jquery.mobile-1.0a4.min.js"></script>
    #{get 'moreScripts' /}
        
    <!-- define here the actions -->
    <script>
        var getInsightsAction   = "@{API.getInsights()}";
        var getInsightAction    = "@{API.getInsight()}";
        var agreeAction         = "@{API.agree()}";
        var disagreeAction      = "@{API.disagree()}";
        
        var insightAction       = #{jsAction @Mobile.insight(':insightUniqueId') /};        
    </script>
    
    <script src="/public/javascripts/beansight-mobile.js"></script>
</head> 
<body> 
#{doLayout /}
</body>
</html>
