#{extends 'main.html' /}
#{set 'title'}
    Forgot password
#{/set}

#{set contentClass:'signup' /}

<div class="bloccontent bloccenter">
    #{form @Security.provideEmailToChangePassword(), id:'registerForm'}
        <h2 class="cuf-grb">Forgot password</h2>

        <label for="s_email">Please give us the email used to connect on Beansight and we'll send you an email allowing you to create a new password</label>
        <div class="item-input">
            <input type="email" name="email" id="email" value="${email}" />
            #{if errors.forKey('email')}<span class="error">#{error 'email' /}</span>#{/if}
        </div>

        <div class="item-submit">
            <button><span class="backbutton"></span><span class="txtbutton cuf-newaccount">Forgot password</span></button>
        </div>
    #{/form}
</div>
