#{extends 'main.html' /}
#{set 'title'}
    &{'password.forgot.ask.email.title'}
#{/set}

#{set contentClass:'signup' /}

<div class="bloccontent bloccenter">
    #{form @Security.provideEmailToChangePassword(), id:'registerForm'}
        <h2 class="cuf-grb">&{'password.forgot.ask.email.h2'}</h2>

        <label for="s_email">&{'password.forgot.ask.email.msg'}</label>
        <div class="item-input">
            <input class="textfield" type="email" name="email" id="email" value="${email}" />
            #{if errors.forKey('email')}<span class="error">#{error 'email' /}</span>#{/if}
        </div>

        <div class="item-submit">
            <button><span class="backbutton"></span><span class="txtbutton cuf-newaccount">&{'password.forgot.ask.email.submit'}</span></button>
        </div>
    #{/form}
</div>
