 #{extends 'main.html' /}
#{set 'title'}
    &{'register'}
#{/set}

#{set contentClass:'signup' /}



<div class="bloccontent bloccenter" id="withBeansight">
	<div class="loginbox signuppage">
		<p class="cuf-loginwidth" style="text-align: left; margin-left: 10px;">&{'register.createAccountWith'}</p>
		<ul class="listlogs">
			<li class="log-b"><a id="signup-bean" class="opened logbutton" href="#" onclick="javascript:showRegisterForm('beansight');">beansight</a></li>
			<li class="log-t"><a id="signup-twit" class="logbutton" href="#" onclick="javascript:showRegisterForm('twitter');">twitter</a></li>
			<li class="log-f"><a id="signup-fb" class="logbutton" href="#" onclick="javascript:showRegisterForm('facebook');">facebook</a></li>
		</ul>
	</div>
	<div id="beansightRegisterBlock">
	    #{form @Register.registerNew(), id:'registerFormBeansight'}
	    	<input type="hidden" name="connectWith" id="connectWith"/>
	        <h2 class="cuf-grb">&{'register.beansightTitle'}</h2>
	
	        <label for="s_email">&{'email'}</label>
	        <div class="item-input">
	            <input class="textfield" type="email" name="email" id="email" value="${email}" />
	            #{if errors.forKey('email')}<span class="error">#{error 'email' /}</span>#{/if}
	        </div>
	
	        <label for="s_username">&{'username'}</label>
	        <div class="item-input">
	            <input class="textfield" type="text" name="username" id="username" value="${username}" />
	            #{if errors.forKey('username')}<span class="error">#{error 'username' /}</span>#{/if}
	        </div>
	
	        <label for="s_pass1">&{'password'}</label>
	        <div class="item-input">
	            <input class="textfield" type="password" name="password" id="registerPassword" value="" />
	            #{if errors.forKey('password')}<span class="error">#{error 'password' /}</span>#{/if}
	        </div>
	
	        <label for="s_pass2">&{'passwordconfirm'}</label>
	        <div class="item-input">
	            <input class="textfield" type="password" name="passwordconfirm" id="passwordconfirm" value="" />
	            #{if errors.forKey('passwordconfirm')}<span class="error">#{error 'passwordconfirm' /}</span>#{/if}
	        </div>
	
	        <div class="item-checkbox">
	            <label for="s_terms">&{'register.form.accept.start'} <a href="@{Application.termsOfUse()}">&{'register.form.accept.terms'}</a> &{'register.form.accept.and'} <a href="@{Application.privacyPolicy()}">&{'register.form.accept.privacy'}</a>.</label>
	        </div>
	        
	        <div class="item-submit">
	            <!--<input type="submit" name="submit-signup" value="Create my account"/>-->
	            <button><span class="backbutton"></span><span class="txtbutton cuf-newaccount">&{'register.beansightSignupButton'}</span></button>
	        </div>
	    #{/form}
    </div>

	<div id="facebookRegisterBlock">
	    #{form @Register.fbAuthenticate(), id:'registerFormFacebook'}
	        <h2 class="cuf-grb">&{'register.facebookTitle'}</h2>

	        <div class="item-checkbox">
	            <label for="s_terms">&{'register.form.accept.start'} <a href="@{Application.termsOfUse()}">&{'register.form.accept.terms'}</a> &{'register.form.accept.and'} <a href="@{Application.privacyPolicy()}">&{'register.form.accept.privacy'}</a>.</label>
	        </div>
	        
	        <div >
	            <!--<input type="submit" name="submit-signup" value="Create my account"/>-->
	            <!--<button><span class="backbutton"></span><span class="txtbutton cuf-newaccount">&{'register.facebookSignupButton'}</span></button>-->
	            <button class="social_buttons sb_48 sb_facebook"><span>Sign in with Facebook</span></button>
	        </div>
	    #{/form}
	</div>	
		<div id="twitterRegisterBlock">
	    #{form @Register.twitAuthenticate(), id:'registerFormTwitter'}
	        <h2 class="cuf-grb">&{'register.twitterTitle'}</h2>
	
	      	<div class="item-checkbox">
	            <label for="s_terms">&{'register.form.accept.start'} <a href="@{Application.termsOfUse()}">&{'register.form.accept.terms'}</a> &{'register.form.accept.and'} <a href="@{Application.privacyPolicy()}">&{'register.form.accept.privacy'}</a>.</label>
	        </div>
	        
	        <div>
	            <!--<input type="submit" name="submit-signup" value="Create my account"/>-->
	            <!--<button><span class="backbutton"></span><span class="txtbutton cuf-newaccount">&{'register.twitterSignupButton'}</span></button>-->
	            <button class="social_buttons sb_48 sb_twitter"><span>Sign in with Twitter</span></button>
	        </div>
	    #{/form}
	</div>
</div>

<div class="bloccontent blocright">
    <h2 class="cuf-grs">&{'register.why'}</h2>
    <div class="pushsign explorepush">
        <span class="cuf-explore">&{'register.banner.explore'}</span>
        <p>&{'register.banner.exploretext'}</p>
    </div>
    <div class="pushsign participatepush">
        <span class="cuf-participate">&{'register.banner.participate'}</span>
        <p>&{'register.banner.participatetext'}</p>
    </div>
</div>