#{extends 'main.html' /}
#{set 'title'}
    &{'register'}
#{/set}

#{set currentMenu:'menuSignUp' /}

#{if flash.error}
    <p>${flash.error}</p>
#{/if}

#{if flash.success}
    <p class="success">${flash.success}</p>
#{/if}

<div id="signupBox">
<h2>&{'signuptitle'}</h2>
#{form @Register.registerNew(), id:'registerForm'}
    <p id="email-field">
        <label for="email">&{'email'}</label>
        <input type="email" name="email" id="email" value="${email}" />
        #{if errors.forKey('email')}<span class="error">#{error 'email' /}</span>#{/if}
    </p>
    <p id="username-field">
        <label for="username">&{'username'}</label>
        <input type="text" name="username" id="username" value="${username}" />
        #{if errors.forKey('username')}<span class="error">#{error 'username' /}</span>#{/if}
    </p>
    <p id="password-field">
        <label for="password">&{'password'}</label>
        <input type="password" name="password" id="registerPassword" value="" />
        #{if errors.forKey('password')}<span class="error">#{error 'password' /}</span>#{/if}
    </p>
    <p id="passwordconfirm-field">
        <label for="passwordconfirm">&{'passwordconfirm'}</label>
        <input type="password" name="passwordconfirm" id="passwordconfirm" value="" />
        #{if errors.forKey('passwordconfirm')}<span class="error">#{error 'passwordconfirm' /}</span>#{/if}
    </p>
    <p id="promocode-field">
        <label for="promocode">&{'promocode'}</label>
        <input type="text" name="promocode" id="promocode" value="${promocode}" />
        #{if errors.forKey('promocode')}<span class="error">#{error 'promocode' /}</span>#{/if}
    </p>
    <p id="signin-field">
    <input type="submit" id="signin" value="&{'signupbutton'}" />
    </p>
#{/form}
</div>