#{extends 'main.html' /}
#{set 'title'}
    &{'register'}
#{/set}

#{set contentClass:'signup' /}

<div class="bloccontent bloccenter">
    #{form @Register.registerNew(), id:'registerForm'}
        <h2 class="cuf-grb">&{'signuptitle'}</h2>

        <label for="s_email">&{'email'}</label>
        <div class="item-input">
            <input type="email" name="email" id="email" value="${email}" />
            #{if errors.forKey('email')}<span class="error">#{error 'email' /}</span>#{/if}
        </div>

        <label for="s_username">&{'username'}</label>
        <div class="item-input">
            <input type="text" name="username" id="username" value="${username}" />
            #{if errors.forKey('username')}<span class="error">#{error 'username' /}</span>#{/if}
        </div>

        <label for="s_pass1">&{'password'}</label>
        <div class="item-input">
            <input type="password" name="password" id="registerPassword" value="" />
            #{if errors.forKey('password')}<span class="error">#{error 'password' /}</span>#{/if}
        </div>

        <label for="s_pass2">&{'passwordconfirm'}</label>
        <div class="item-input">
            <input type="password" name="passwordconfirm" id="passwordconfirm" value="" />
            #{if errors.forKey('passwordconfirm')}<span class="error">#{error 'passwordconfirm' /}</span>#{/if}
        </div>

        <label for="s_username">&{'promocode'}</label>
        <div class="item-input">
            <input type="text" name="promocode" id="promocode" value="${promocode}" />
            #{if errors.forKey('promocode')}<span class="error">#{error 'promocode' /}</span>#{/if}
        </div>

        <div class="item-checkbox">
            <label for="s_terms">By clicking I accept the <a href="@{Legal.termsOfService()}">Terms of Service</a> and the <a href="@{Legal.privacyPolicy()}">Privacy Policy</a></label>
        </div>
        
        <div class="item-submit">
            <!--<input type="submit" name="submit-signup" value="Create my account"/>-->
            <button><span class="backbutton"></span><span class="txtbutton cuf-newaccount">&{'signupbutton'}</span></button>
        </div>
    #{/form}
</div>
<div class="bloccontent blocright">
    <h2 class="cuf-grs">Why register ?</h2>
    <div class="pushsign explorepush">
        <span class="cuf-explore">&{'register.banner.explore'}</span>
        <p>&{'register.banner.exploretext'}</p>
    </div>
    <div class="pushsign participatepush">
        <span class="cuf-participate">&{'register.banner.participate'}</span>
        <p>&{'register.banner.participatetext'}</p>
    </div>
</div>