#{extends 'mainApi.html' /}
#{set 'title'}
    &{'register'}
#{/set}

#{set contentClass:'signup' /}



<div class="bloccontent bloccenter">

	<div id="facebookLoginBlock">
	    #{form @Register.fbAuthenticate(), id:'registerFormFacebook'}
	        <div >
	            <button class="social_buttons sb_24 sb_facebook"><span>&{'register.facebookTitle'}</</span></button>
	        </div>
	    #{/form}
	</div>	
</div>
<div class="bloccontent bloccenter">
	<div id="twitterLoginBlock">
	    #{form @Register.twitAuthenticate(), id:'registerFormTwitter'}
	        <div>
	            <button class="social_buttons sb_24 sb_twitter"><span>&{'register.twitterTitle'}</</span></button>
	        </div>
	    #{/form}
	</div>
</div>
<div class="bloccontent bloccenter">
	<div id="beansightLoginBlock">
	    #{form @Secure.authenticate()}
	    	<input type="hidden" name="connectWith" id="connectWith"/>
	        <h2 class="cuf-grb">&{'api.beansightTitle'}</h2>
	
	        <label for="username">&{'email'}</label>
	        <div class="item-input">
	            <input type="text" name="username" id="username" />
	        </div>
	
	        <label for="password">&{'password'}</label>
	        <div class="item-input">
	            <input class="textfield" type="password" name="password" id="registerPassword" value="" />
	        </div>
	        
	        <div class="item-submit">
	            <!--<input type="submit" name="submit-signup" value="Create my account"/>-->
	            <button><span class="backbutton"></span><span class="txtbutton cuf-newaccount">&{'loginbutton'}</span></button>
	        </div>
	    #{/form}
    </div>



</div>

