#{extends 'mainApi.html' /}
#{set 'title'}
    &{'register'}
#{/set}


<div class="form-solo">
    <h1 class="logo"><a href="/"> Beansight</a></h1>
	
	<div class="form-part">
	    #{form @Register.fbAuthenticate(), id:'registerFormFacebook'}
	            <button class="social_buttons sb_24 sb_facebook"><span>&{'register.facebookTitle'}</span></button>
	    #{/form}
	</div>	
	
	<div class="form-part">
	    #{form @Register.twitAuthenticate(), id:'registerFormTwitter'}
	            <button class="social_buttons sb_24 sb_twitter"><span>&{'register.twitterTitle'}</span></button>
	    #{/form}
	</div>
	
	<div class="form-part">
	    #{form @Secure.authenticate()}
	    	<input type="hidden" name="connectWith" id="connectWith"/>
	        <h2>&{'api.beansightTitle'}</h2>
	
	        <label for="username">&{'email'}</label>
	        <div class="item-input">
	            <input type="email" name="username" id="username" />
	        </div>
	
	        <label for="password">&{'password'}</label>
	        <div class="item-input">
	            <input class="textfield" type="password" name="password" id="registerPassword" value="" />
	        </div>
	        
	        <div class="item-submit">
                <button><span class="backbutton"></span><span class="txtbutton">&{'loginbutton'}</span></button>
	        </div>
	    #{/form}
    </div>
</div>

