#{extends 'main.html' /}
#{set 'title'}
    &{'register'}
#{/set}

#{set contentClass:'signup' /}

<div class="bloccontent bloccenter">
	<h2 class="cuf-grb">&{'secure.title'}</h2>
	#{form @authenticate()}
        <div class="item-input">
			<label for="username">&{'email'}</label>
			<input type="text" name="username" id="username" value="${flash.username}" />
        </div>
        <div class="item-input">
			<label for="password">&{'password'}</label>
			<input type="password" name="password" id="password" value="" />
        </div>
        <div class="item-input">
			<input type="checkbox" name="remember" id="remember" value="true" checked="true" />
			<label for="remember">&{'remember'}</label>
        </div>
        <div class="item-submit">
            <input type="submit" value="&{'loginbutton'}" />
        </div>
		<a href="@{Security.forgotPasswordAskEmail()}">&{'userOptions.forgotPassword'}</a>
	#{/form}
</div>