#{extends 'Secure/layout.html' /}

<div id="login">
	
	<h1>&{'secure.title'}</h1>
		
	#{form @Register.registerNew()}
		
		#{if flash.error}
			<p class="error">
				&{flash.error}
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
				&{flash.success}
			</p>
		#{/if}
	
		<p id="username-field">
			<label for="email">&{'register.email'}</label>
			<input type="text" name="email" id="email" value="&{flash.email}" />
		</p>	
		<p id="password-field">
			<label for="username">&{'secure.username'}</label>
			<input type="text" name="username" id="username" value="&{flash.username}" />
		</p>
		<p id="password-field">
			<label for="password">&{'secure.password'}</label>
			<input type="password" name="password" id="password" value="" />
		</p>
		<p id="signin-field">
			<input type="submit" id="signin" value="&{'secure.signin'}" />
		</p>
	#{/form}
</div>