#{extends 'main.html' /}
#{set 'title'}
    &{'password.forgot.set.new.password.title'}
#{/set}

#{set contentClass:'signup' /}

<div class="bloccontent bloccenter">
    #{form @Security.saveChangedPassword(), id:'changeForgotPasswordForm'}
    	<input type="hidden" name="forgotPasswordCode" value="${forgotPasswordCode}"/>
        <h2 class="cuf-grb">Change your password</h2>
        <label for="s_pass1">&{'password'}</label>
        <div class="item-input">
            <input class="textfield" type="password" name="password" id="registerPassword" value="" />
            #{if errors.forKey('password')}<span class="error">#{error 'password' /}</span>#{/if}
        </div>

        <label for="s_pass2">&{'passwordconfirm'}</label>
        <div class="item-input">
            <input class="textfield" type="password" name="passwordconfirm" id="passwordconfirm" value="" />
            #{if errors.forKey('passwordconfirm')}<span class="error">#{error 'passwordconfirm' /}</span>#{/if}
        </div>
        
        <div class="item-submit">
            <!--<input type="submit" name="submit-signup" value="Create my account"/>-->
            <button><span class="backbutton"></span><span class="txtbutton cuf-newaccount">Submit</span></button>
        </div>
    #{/form}
</div>
<div class="bloccontent blocright">
    <h2 class="cuf-grs">Why register ?</h2>
    <div class="pushsign explorepush">
        <span class="cuf-explore">&{'register.banner.explore'}</span>
        <p>&{'register.banner.exploretext'}</p>
    </div>
    <div class="pushsign participatepush">
        <span class="cuf-participate">&{'register.banner.participate'}</span>
        <p>&{'register.banner.participatetext'}</p>
    </div>
</div>