#{extends 'content.html' /}
#{set title:user.userName + ' Change password'/}

#{set contentCenterClass:'settings' /}

<div class="bloccontent" style="margin-left:10px;">
	#{form @Application.saveNewPassword(), id:'changePasswordForm', class:'bigform'}
		<h2 class="cuf-grb">&{'settings.changePassword'}</h2>
		<div class="item-input">
			<label class="label" for="oldPassword">&{'changePassword.oldPassword'}</label>
	    	<input type="password" name="oldPassword" value=""/>
	    	#{if errors.forKey('oldPassword')}<span class="error">#{error 'oldPassword' /}</span>#{/if}
	    </div>
	    <div class="item-input">
	        <label class="label" for="newPassword">&{'changePassword.newPassword'}</label>
	        <input type="password" name="newPassword" id="newPassword" value=""/>
	        #{if errors.forKey('newPassword')}<span class="error">#{error 'newPassword' /}</span>#{/if}
	    </div>
	    <div class="item-input">
	        <label class="label" for="newPasswordConfirm">&{'changePassword.newPasswordConfirm'}</label>
	        <input type="password" name="newPasswordConfirm" value=""/>
	        #{if errors.forKey('newPasswordConfirm')}<span class="error">#{error 'newPasswordConfirm' /}</span>#{/if}
	    </div>
        <div class="item-submit line-form">
         	 	<button id="submitcreate"><span class="backbutton"></span><span class="txtbutton cuf-create">&{'changePassword.submit'}</span></button>
      	</div>
	#{/form}
</div>