#{extends 'content.html' /}
#{set title:user.userName + ' Change password'/}

#{form @Application.saveNewPassword(), id:'changePasswordForm'}
	<p>
		<label for="oldPassword">&{'changePassword.oldPassword'}</label>
    	<input type="password" name="oldPassword" value=""/>
    	#{if errors.forKey('oldPassword')}<span class="error">#{error 'oldPassword' /}</span>#{/if}
    </p>
    <p>
        <label for="newPassword">&{'changePassword.newPassword'}</label>
        <input type="password" name="newPassword" id="newPassword" value=""/>
        #{if errors.forKey('newPassword')}<span class="error">#{error 'newPassword' /}</span>#{/if}
    </p>
    <p>
        <label for="newPasswordConfirm">&{'changePassword.newPasswordConfirm'}</label>
        <input type="password" name="newPasswordConfirm" value=""/>
        #{if errors.forKey('newPasswordConfirm')}<span class="error">#{error 'newPasswordConfirm' /}</span>#{/if}
    </p>
    <p>
        <a href="@{Application.settings()}">&{'changePassword.cancel'}</a>
        <input type="submit" value="&{'changePassword.submit'}"/>
    </p>
#{/form}

