#{extends 'content.html' /}
#{set 'title'}
    &{'createinsight'}
#{/set}

#{set currentMenu:'menuCreate' /}

#{set contentCenterClass:'large' /}

<h2 class="cuf-grb">&{'createInsightTitle'}</h2>
<div class="contentlarge">
    <div class="newinsight">
    #{form @Application.createInsight(), id:'insightCreationForm'}

        <div class="line-form">
            <label for="c_sujet">&{'createInsightMessage'}</label>
            <div class="item-textarea">
                <!-- TODO COLORZ id="c_sujet" -->
                <textarea name="insightContent" id="insightContent" class="insightContent" cols="50" rows="2">${insightContent}</textarea>
                #{if errors.forKey('insightContent')}<span class="error">${errors.forKey('insightContent')}</span>#{/if}
            </div>
            <div class="compteur-carac">
                <div id="progressbar"></div>
                <div class="progressbar">
                    <p>80%</p>
                </div>
            </div>
            <p id="caracterNumbers" class="progressnb"><span id="currentCaractersNumbers">0</span> / 100</p>
            <hr class="clear"/>
            *{ <span style="display:none" id="strangeLanguage">&{'create.strangeLanguage'}</span> }*
        </div>

        <div class="line-form">
            <label for="endDate">&{'createInsightDate'}</label>
            <div class="item-input">
                <!-- TODO COLORZ colorz: id="c_date"  -->
                <input type="text" name="endDate" id="endDate" class="datePicker" size="10" value="${endDate?.format("yyyy-MM-dd")}" />
                #{if errors.forKey('endDate')}<span class="error">${errors.forKey('endDate')}</span>#{/if} 
                
            </div>
        </div>
 
        <div class="line-form">
            <label for="category">&{'createInsightCategory'}</label>
            #{selectCategories none:true/}
            #{if errors.forKey('categoryId')}<span class="error">${errors.forKey('categoryId')}</span>#{/if}
            *{ TODO COLORZ
            <div class="item-select">
                <select name="" id="c_category">
                    <option value="">Select a category</option>
                    <option value="">Test 2</option>
                    <option value="">Select a category</option>
                    <option value="">Test 2</option>
                    <option value="">Select a category</option>
                    <option value="">Test 2</option>
                </select>
            </div>
             }*
        </div>

        <div class="line-form">
            <label for="taginput">&{'createInsightTags'}</label>
            <div class="item-input">
                <!-- TODO COLORZ colorz: id="taginput" -->
                <input type="text" name="tagLabelList" id="tagLabelList" value="${tagLabelList}" />
                <input type="hidden" name="" value="" id="tagresult"/>
                #{if errors.forKey('tagLabelList')}<span class="error">${errors.forKey('tagLabelList')}</span>#{/if}
            </div>
            <div class="listtags">
            </div>
        </div>


        *{ Old code for language selection
        <div class="line-form">
            <p class="label">&{'createInsightLang'}</p>
            <div class="item-radio">
                <label for="radlang-fr" class="radio-fr">Français</label>
                <input type="radio" name="lang" value="fr" id="radlang-fr"/>
                <label for="radlang-en" class="radio-en current">English</label>
                <input type="radio" name="lang" value="en" id="radlang-en" checked="checked"/>
            </div>
        </div>
        }*

        <input type="hidden" name="lang" value="en" id="insightLang"/>
        <input type="hidden" name="langConfidence" value="0" id="insightLangConfidence"/>
        <span style="display:none" id="userWrittingLanguage">${controllers.CurrentUser.getCurrentUser().writtingLanguage}</span>
        

        <div class="item-submit line-form">
            <button><span class="backbutton"></span><span class="txtbutton cuf-create">&{'createInsightSubmit'}</span></button>
        </div>
    #{/form}
    </div>
</div>