#{extends 'main.html' /}
#{set 'title'}
    &{'createinsight'}
#{/set}

#{set currentMenu:'menuCreate' /}

<div>
    #{form @Application.createInsight(), id:'insightCreationForm'}
        <p>&{'createInsightTitle'}</p>
        <div>
            <label for="endDate">&{'createInsightDate'}</label>
            <input type="text" name="endDate" id="endDate" class="datePicker" size="10" value="${endDate?.format("yyyy-MM-dd")}" />,
            #{if errors.forKey('endDate')}<span class="error">${errors.forKey('endDate')}</span>#{/if} 
            <textarea name="insightContent" id="insightContent" class="insightContent">${insightContent}</textarea>
            #{if errors.forKey('insightContent')}<span class="error">${errors.forKey('insightContent')}</span>#{/if}
        </div>
        <div id="caracterCount">
            <div id="caracterNumbers"><span id="currentCaractersNumbers">0</span> / 140</div>
            <div id="progressbar"></div>
        </div>
        <div>
            <label for="tagLabelList">&{'createInsightTags'}</label>
            <input type="text" name="tagLabelList" id="tagLabelList" value="${tagLabelList}" />
            #{if errors.forKey('tagLabelList')}<span class="error">${errors.forKey('tagLabelList')}</span>#{/if}
            <label for="category">&{'createInsightCategory'}</label>
               #{selectCategories none:true/}
               #{if errors.forKey('categoryId')}<span class="error">${errors.forKey('categoryId')}</span>#{/if}
            <input style="display:none;" id="insightCreationLang" name="lang" value="${insightLang}" />
            <a id="insightCreationLangEn" class="insightCreationLangChoose" href="" onclick="return false;">
                <img alt="English flag" class="languageFlag #{if insightLang.equals("en")}selected#{/if}" src="@{'/public/images/flags/gb.png'}" />
            </a>
            <a id="insightCreationLangFr" class="insightCreationLangChoose" href="" onclick="return false;">
                <img alt="French flag" class="languageFlag #{if insightLang.equals("fr")}selected#{/if}" src="@{'/public/images/flags/fr.png'}" />
            </a>
        </div>
        <div>
            <input type="submit" value="&{'createInsightSubmit'}" />
        </div>
    #{/form}
</div>


