#{extends 'content.html' /}
#{set 'title'}
    &{'experts.explore'}
#{/set}

#{set currentMenu:'menuExperts' /}


#{set contentCenterClass:'mini' /}

<h2 class="cuf-grb">&{'expertstitle'}</h2>

<div class="listinsights listexperts">
    <ul class="menulistinsights">
    	*{
        <li class="sortby">Sort by</li>
        <li class="first"><a href="#">Favorites</a></li>
        <li class="selectme"><a href="#" id="select-tri">select a category</a>
            <ul class="nojavascript" id="ulselect-tri">
                <li><a href="#"><span>Technology</span></a></li>
                <li><a href="#"><span>Web</span></a></li>
                <li class="last"><a href="#"><span>Sport</span></a></li>
            </ul>
        </li>
        }*
    </ul>
    
    <!-- expert search -->
    <div class="item-expert">
        <div class="content-expert">
        	#{form @Application.searchExperts(), class:"searchexp"}
            *{<form action="#" method="post" class="searchexp">}*
                <label for="query" class="nodisplay">&{'expertssearch'}</label>
                <input type="text" value="${query}" name="query" id="query" class="txtinput"  placeholder="&{'expertssearch'}"/>
                <input type="submit" name="sub-expert" value="&{expertssearchbutton}" class="subinput"/>
            *{</form>}*
            #{/form}
        </div>
    </div>
    
	<ul id="expertsList">
	    #{listExperts experts:experts /}
	</ul>

    <div class="seeall">
        <p><a id="moreExperts" href="#">&{'experts.loadmore'}</a></p>
    </div>
</div>

<script type="text/javascript">
var expertsFrom = ${controllers.Application.NUMBER_EXPERTS_EXPERTPAGE};

/** get more insights */
$('#moreExperts').click( function() {
    $.ajax( {
        url: searchExpertsAction(),
        data: {"from":expertsFrom, "query":$("#query").value() },
        success: onMoreExpertsSuccess
    } );
    return false;
});

function onMoreExpertsSuccess(content) {
    $("#expertsList").append(content);
    expertsFrom += ${controllers.Application.NUMBER_EXPERTS_EXPERTPAGE};
}
</script>
