#{extends 'content.html' /}
#{set 'title'}
    &{'faq.title'}
#{/set}

#{set contentCenterClass:'large' /}

<h2 class="cuf-grb">&{'faq.title'}</h2>

<div class="FAQ">

<p class="faq-intro">&{'faq.intro'}</p>

<div class="FAQ-section">
	<h3 class="faq-section-title" id="creation">&{'faq.title.creation'}</h3>
	<div class="QandA">
	<h4 class="question">&{'faq.Q.creation.how'}</h4>
	<p>&{'faq.A.creation.how'}</p>
    </div>
    <div class="QandA">    
	<h4 class="question">&{'faq.Q.creation.deadline'}</h4>
	<p>&{'faq.A.creation.deadline'}</p>
    </div>
    <div class="QandA">
	<h4 class="question">&{'faq.Q.creation.category'}</h4>
	<p>&{'faq.A.creation.category'}</p>
	</div>
</div>

<div class="FAQ-section">
	<h3 class="faq-section-title" id="votes">&{'faq.title.votes'}</h3>
	<div class="QandA">
	<h4 class="question">&{'faq.Q.votes.how'}</h4>
	<p>&{'faq.A.votes.how'}</p>
    </div>
    <div class="QandA">
	<h4 class="question">&{'faq.Q.votes.consequences'}</h4>
	<p>&{'faq.A.votes.consequences'}</p>
    </div>
    <div class="QandA">	
	<h4 class="question">&{'faq.Q.votes.interesting'}</h4>
	<p>&{'faq.A.votes.interesting'}</p>
    </div>
    <div class="QandA">
	<h4 class="question">&{'faq.Q.votes.change'}</h4>
	<p>&{'faq.A.votes.change'}</p>
    </div>
    <div class="QandA">	
	<h4 class="question">&{'faq.Q.votes.follow'}</h4>
	<p>&{'faq.A.votes.follow'}</p>
	</div>
</div>

<div class="FAQ-section">
	<h3 class="faq-section-title" id="validation">&{'faq.title.validation'}</h3>
	<div class="QandA">
	<h4 class="question">&{'faq.Q.validation.how'}</h4>
	<p>&{'faq.A.validation.how'}</p>
    </div>
    <div class="QandA">	
	<h4 class="question">&{'faq.Q.validation.wrong'}</h4>
	<p>&{'faq.A.validation.wrong'}</p>
    </div>
    <div class="QandA">	
	<h4 class="question">&{'faq.Q.validation.votepast'}</h4>
	<p>&{'faq.A.validation.votepast'}</p>
	</div>
</div>

<div class="FAQ-section">
	<h3 class="faq-section-title" id="expertise">&{'faq.title.expertise'}</h3>
	<div class="QandA">
	<h4 class="question">&{'faq.Q.expertise.how'}</h4>
	<p>&{'faq.A.expertise.how'}</p>
    </div>
    <div class="QandA">	
	<h4 class="question">&{'faq.Q.expertise.display'}</h4>
	<p>&{'faq.A.expertise.display'}</p>
    </div>
    <div class="QandA">	
	<h4 class="question">&{'faq.Q.expertise.getridof'}</h4>
	<p>&{'faq.A.expertise.getridof'}</p>
    </div>
    <div class="QandA">	
	<h4 class="question">&{'faq.Q.expertise.creating'}</h4>
	<p>&{'faq.A.expertise.creating'}</p>
    </div>
    <div class="QandA">	
	<h4 class="question">&{'faq.Q.expertise.comments'}</h4>
	<p>&{'faq.A.expertise.comments'}</p>
	</div>
</div>

<div class="FAQ-section">
	<h3 class="faq-section-title" id="experts">&{'faq.title.experts'}</h3>
	<div class="QandA">
	<h4 class="question">&{'faq.Q.experts.how'}</h4>
	<p>&{'faq.A.experts.how'}</p>
    </div>
    <div class="QandA">	
	<h4 class="question">&{'faq.Q.experts.follow'}</h4>
	<p>&{'faq.A.experts.follow'}</p>
	</div>
</div>

<div class="FAQ-section">
	<h3 class="faq-section-title" id="profile">&{'faq.title.profile'}</h3>
	<div class="QandA">
	<h4 class="question">&{'faq.Q.profile.howpicture'}</h4>
	<p>&{'faq.A.profile.howpicture'}</p>
    </div>
    <div class="QandA">	
	<h4 class="question">&{'faq.Q.profile.howlanguage'}</h4>
	<p>&{'faq.A.profile.howlanguage'}</p>
    </div>
    <div class="QandA">	
	<h4 class="question">&{'faq.Q.profile.twfb'}</h4>
	<p>&{'faq.A.profile.twfb'}</p>
    </div>
    <div class="QandA">	
	<h4 class="question">&{'faq.Q.profile.twlogin'}</h4>
	<p>&{'faq.A.profile.twlogin'}</p>
    </div>
    <div class="QandA">	
	<h4 class="question">&{'faq.Q.profile.invitations'}</h4>
	<p>&{'faq.A.profile.invitations'}</p>
	</div>
</div>

</div>