#{extends 'content.html' /}
#{set 'title'}
    &{'exploreinsights'}
#{/set}

#{set currentMenu:'menuInsights' /}

#{set contentCenterClass:'large' /}

<h2 class="cuf-grb">&{'insightstitle'} #{if category} &{'incategory'} ${category}#{/if} #{if topic} &{'insights.intopic'} ${topic}#{/if}</h2>

<div class="listinsights">
    <ul class="menulistinsights">
        <li class="sortby">&{'insights.sortby'}</li>
        <li class="first">
            <div id="radioSortByFilter" style="font-size: 11px;">
                <input type="radio" autocomplete="off" name="SortByGroup" value="incoming" checked  id="radioSortByIncoming" />         <label for="radioSortByIncoming">    &{'insights.incoming'} </label> 
                <input type="radio" autocomplete="off" name="SortByGroup" value="trending"          id="radioSortByTrending"/>          <label for="radioSortByTrending">    &{'insights.trending'} </label>
                <input type="radio" autocomplete="off" name="SortByGroup" value="updated"           id="radioSortByUpdated"/>           <label for="radioSortByUpdated">     &{'insights.latest'}   </label>
            </div>        
        </li>
        <li>
	        <div id="radioVotefilter" style="font-size: 11px;">
		        <input type="radio" autocomplete="off" name="VoteGroup" value="all" checked   id="radioVoteAll" />        <label for="radioVoteAll">      &{'insights.filterVotedAll'}</label> 
		        <input type="radio" autocomplete="off" name="VoteGroup" value="voted"         id="radioVoteVoted"/>       <label for="radioVoteVoted">    &{'insights.filterVoted'}   </label>
		        <input type="radio" autocomplete="off" name="VoteGroup" value="notVoted"      id="radioVoteNotVoted"/>    <label for="radioVoteNotVoted"> &{'insights.filterNotVoted'}</label>
	        </div>
        </li>
        #{if topic == null}
	    <li>
		    <div class="filterDropDown">
		    <select name="categoryId" id="filterCategory" autocomplete="off">
		       <option value="0" #{if category == null}selected#{/if}>&{'insights.category'} All</option>
			   #{list items:controllers.Application.getCategories(), as:'cat'}
			       <option value="${cat.id}" #{if category && category.id == cat.id}selected#{/if}>${cat.label}</option>
			   #{/list}
			</select>
			</div>
	    </li>
	    #{/if}
    </ul>
    
    <ul id="insightList">
    	*{
        #{listInsights insights:insights /}
        }*
    </ul>

    <div id="moreResults" class="seeall">
        <p><a id="moreInsights" href="#">&{'insights.more'}</a></p>
    </div>
</div>

<script type="text/javascript">
// TODO check if a "more" button should be displayed
//if( $("#insightList li").length >= ${controllers.Application.NUMBER_INSIGHTS_INSIGHTPAGE} ) {
//        $("#moreResults").fadeIn(2000);
//   }
var NUMBER_INSIGHTS_INSIGHTPAGE = ${controllers.Application.NUMBER_INSIGHTS_INSIGHTPAGE};
var insightsFrom = 0;
var bindingTime = true;

$(document).ready(function() {
	loadInsights();
	
	$.History.bind(function(state) {
		if (state  == "") {
			$("#radioSortByIncoming").attr("checked", "checked");
			$("#radioVoteAll").attr("checked", "checked");
			$(':radio').button('refresh');
			loadInsights();
		} else {
			if (bindingTime == false) {
				insightsFrom = gup($.History.getHash(), "from");
				reloadInsights( $.History.getHash() );
				refreshFilters( $.History.getHash() );
			} else {
				bindingTime = false;
			}
		}
		
	});
	
	
});
/*
if ($.History.getHash()  == "") {
	
	//$.History.setHash(reloadInsightsAction( generateGetInsightsArguments() ));

	loadInsights();
}

else {
	reloadInsights( $.History.getHash() );
	refreshFilters( $.History.getHash() );
}
*/

var filterTopic = #{if topic}"${topic}"#{/if} #{else}null#{/else};
</script>

<script type="text/javascript" charset="utf-8">
// keyboard shortcuts
/*
var shortcutCurrentInsight = 1;
$(document).bind("keydown", "j", function () {
    shortcutCurrentInsight++;
}).bind("keydown", "k", function () {
    if(shortcutCurrentInsight > 1) {
        shortcutCurrentInsight--;
    }
}).bind("keydown", "Return", function () {
    var shortcutTarget = $("a.permalink", "#insightList .insightItem:nth-child(" + shortcutCurrentInsight + ")").attr("href");
    if (shortcutTarget != null && shortcutTarget != "") {
        window.location.href = shortcutTarget;
    }
});
*/
</script>