#{extends 'content.html' /}
#{set 'title'}
    &{'exploreinsights'}
#{/set}

#{set currentMenu:'menuInsights' /}

#{set contentCenterClass:'large' /}

<h2 class="cuf-grb">&{'insightstitle'} #{if category} &{'incategory'} ${category}#{/if}</h2>

<div class="listinsights">
    <ul class="menulistinsights">
        <li class="sortby">Sort by</li>
        <li class="first"><a href="#">suggested</a></li>
    *{
        <li><a href="#">trending</a></li>
        <li><a href="#">incoming</a></li>
     }*
        <li class="selectme"><a href="#" id="select-tri">select a category</a> *{ TODO : pre select the current category }*
            <ul class="nojavascript" id="ulselect-tri">
                <li><a href="@{Application.insights(null, langs)}"     class="categoryFilter #{if category == null}selected#{/if}" >All</a></li>
                #{list items:controllers.Application.getCategories(), as:'cat'}
                <li><a href="@{Application.insights(cat.id, langs)}"   class="categoryFilter #{if category?.id == cat.id}selected#{/if}" >${cat.label}</a></li>
                #{/list}
                <!-- TODO COLORZ class="last" -->
            </ul>
        </li>
      *{
        <li><a href="#">Favorites</a></li>
       }* 
    </ul>
    
    <ul id="insightList">
        #{listInsights insights:insights /}
    </ul>

    <div id="moreResults" *{style="display:none;"}* class="seeall">
        <p><a id="moreInsights" href="#">more</a></p>
    </div>
</div>



<script type="text/javascript">
// TODO check if a "more" button should be displayed
//if( $("#insightList li").length >= ${controllers.Application.NUMBER_INSIGHTS_INSIGHTPAGE} ) {
//        $("#moreResults").fadeIn(2000);
//   }
var insightsFrom = ${controllers.Application.NUMBER_INSIGHTS_SEARCHPAGE};

/** get more insights */
$('#moreInsights').click( function() {
    $.ajax( {
        url: moreInsightsAction(),
        data: {"from":insightsFrom#{if category}, "cat": ${category.id}#{/if}#{if langs}, "lang": [#{list items:langs, as:'langstring'}"${langstring}"#{if !langstring_isLast}, #{/if}#{/list}]#{/if} },
        success: onMoreInsightsSuccess
    } );
    return false;
});

function onMoreInsightsSuccess(content) {
    $("#insightList").append(content);
    insightsFrom += ${controllers.Application.NUMBER_INSIGHTS_INSIGHTPAGE};
    // TODO disable the "more button" if less results than the number to display
    //if( $(content).length < ${controllers.Application.NUMBER_INSIGHTS_INSIGHTPAGE} ) {
    //    $("#moreResults").fadeOut(1000);
    //}
}
</script>
