#{extends 'content.html' /}
#{set 'title'}
    &{'exploreinsights'}
#{/set}

#{set currentMenu:'menuInsights' /}

#{set contentCenterClass:'large' /}

<h2 class="cuf-grb">&{'insightstitle'} #{if category} &{'incategory'} ${category}#{/if}</h2>

<div class="listinsights">
    <ul class="menulistinsights">
        <li class="sortby">&{'insights.sortby'}</li>
        <li class="first">  <a id="filterIncoming"  href="#"  #{if sortBy == null || sortBy?.equals("incoming")}class="current"#{/if}   >&{'insights.incoming'}</a></li>
        <li>                <a id="filterTrending"  href="#"  #{if sortBy?.equals("trending")}                  class="current"#{/if}   >&{'insights.trending'}</a></li>
        <li>                <a id="filterUpdated"   href="#"  #{if sortBy?.equals("updated")}                   class="current"#{/if}   >&{'insights.latest'}  </a></li>
        <li style="padding-top: 0px; margin-top: 4px;">
	        <div id="radioVotefilter" style="font-size: 11px;">
		        <input type="radio" autocomplete="off" name="VoteGroup" value="all" ${all}           id="radioVoteAll" />        <label for="radioVoteAll">      &{'insights.filterVotedAll'}</label> 
		        <input type="radio" autocomplete="off" name="VoteGroup" value="voted" ${voted}       id="radioVoteVoted"/>       <label for="radioVoteVoted">    &{'insights.filterVoted'}   </label>
		        <input type="radio" autocomplete="off" name="VoteGroup" value="notVoted" ${notVoted} id="radioVoteNotVoted"/>    <label for="radioVoteNotVoted"> &{'insights.filterNotVoted'}</label>
	        </div>
        </li>
	*{
        <li><a href="#">trending</a></li>
        <li><a href="#">incoming</a></li>
     }*
     	*{<li class="sortby">&{'insights.category'}</li> }*
	    <li>
		    <div class="filterDropDown">
		    <select name="categoryId" id="filterCategory" autocomplete="off">
		       <option value="0" #{if category == null}selected#{/if}>&{'insights.category'} All</option>
			   #{list items:controllers.Application.getCategories(), as:'cat'}
			       <option value="${cat.id}" #{if category && category.id == cat.id}selected#{/if}>${cat.label}</option>
			   #{/list}
			</select>
			</div>
	    </li>
        
      *{
        <li><a href="#">Favorites</a></li>
       }* 
    </ul>
    
    <ul id="insightList">
        #{listInsights insights:insights /}
    </ul>

    <div id="moreResults" class="seeall">
        <p><a id="moreInsights" href="#">&{'insights.more'}</a></p>
    </div>
</div>

<script type="text/javascript">
// TODO check if a "more" button should be displayed
//if( $("#insightList li").length >= ${controllers.Application.NUMBER_INSIGHTS_INSIGHTPAGE} ) {
//        $("#moreResults").fadeIn(2000);
//   }
var NUMBER_INSIGHTS_INSIGHTPAGE = ${controllers.Application.NUMBER_INSIGHTS_INSIGHTPAGE};
var insightsFrom = ${controllers.Application.NUMBER_INSIGHTS_INSIGHTPAGE};

/** get more insights */
	$("#moreInsights").click( function() {
		var sortBy = getSelectedSortBy();
		var cat = $('#filterCategory').val();
		var filterVote = $('input[name=VoteGroup]:checked').val(); 
	    $.ajax( {
	        url: moreInsightsAction({'from':insightsFrom, 'sortBy': sortBy,  'cat':cat, 'filterVote':filterVote}),
	        success: onMoreInsightsSuccess
	    } );
	    return false;
	});

	function onMoreInsightsSuccess(content) {
	    $("#insightList").append(content);
	    insightsFrom += ${controllers.Application.NUMBER_INSIGHTS_INSIGHTPAGE};
	}	
	
</script>

<script type="text/javascript" charset="utf-8">
// keyboard shortcuts
/*
var shortcutCurrentInsight = 1;
$(document).bind("keydown", "j", function () {
    shortcutCurrentInsight++;
}).bind("keydown", "k", function () {
    if(shortcutCurrentInsight > 1) {
        shortcutCurrentInsight--;
    }
}).bind("keydown", "Return", function () {
    var shortcutTarget = $("a.permalink", "#insightList .insightItem:nth-child(" + shortcutCurrentInsight + ")").attr("href");
    if (shortcutTarget != null && shortcutTarget != "") {
        window.location.href = shortcutTarget;
    }
});
*/
</script>