#{extends 'content.html' /}
#{set 'title'}
    &{'search.pagetitle'}
#{/set}

#{set contentCenterClass:'large' /}

<h2>${count} &{'search.foundtitle.insight'}${count.pluralize()} &{'search.foundtitle.found'} &{'search.foundtitle.for'} "${query}" #{if category} &{'search.foundtitle.incategory'} ${category.label}#{/if}</h2>

<div class="listinsights">   
	<ul class="menulistinsights">
   		<li>
	        <div class="filterDropDown">
	        <select name="categoryId" id="c_category">
	           <option value="@{Application.search(query, 0)}" #{if category == null}selected#{/if}>All</option>
	           #{list items:controllers.Application.getCategories(), as:'cat'}
	               <option value="@{Application.search(query, 0, cat.id)}" #{if category && category.id == cat.id}selected#{/if}>${cat.label}</option>
	           #{/list}
	        </select>
	        </div>
	    </li>
	</ul>

	<ul id="searchResults">
	    #{listInsights insights:insights /}
	</ul>

	<div id="moreResults" *{style="display:none;"}* class="seeall">
	    <p><a id="moreSearch" href="#">&{'search.moreresult'}</a></p>
	</div>
</div>


<script type="text/javascript">
// check if a "more" button soulg be displayed
//if( $("#searchResults li").length >= ${controllers.Application.NUMBER_INSIGHTS_SEARCHPAGE} ) {
//        $("#moreResults").fadeIn(2000);
//   }

var searchFrom = ${controllers.Application.NUMBER_INSIGHTS_SEARCHPAGE};

/** get more search results */
$('#moreSearch').click( function() {
    $.ajax( {
        url: moreSearchAction(),
        data: {"query": "${query}", "from": searchFrom #{if category}, "cat": ${category.id}#{/if} },
        success: onMoreSearchSuccess
    } );
    return false;
});

function onMoreSearchSuccess(content) {
    $("#searchResults").append(content);
    searchFrom += ${controllers.Application.NUMBER_INSIGHTS_SEARCHPAGE};
    *{
    // disable the "more button" if less results than the number to display
    if( $(content).length < ${controllers.Application.NUMBER_INSIGHTS_SEARCHPAGE} ) {
        $("#moreResults").fadeOut(1000);
    }
    }*
}
</script>
