#{extends 'content.html' /}
#{set title:user.userName + ' Settings'/}

#{set contentCenterClass:'settings' /}

<div class="bloccontent" style="margin-left:10px;">
    #{form @Application.saveSettings(), enctype:'multipart/form-data', id:'userSettingsForm', name:'userSettingsForm',  class:'bigform'}
    	<h2 class="cuf-grb">&{'settings.title'}</h2>
    	<div class="item-input">
    		<label for="username">&{'settings.userName'}</label>
        	<input type="text" name="username" id="username" value="${user.userName}"/>
        	#{if errors.forKey('username')}<span class="error">#{error 'username' /}</span>#{/if}
        </div>
        <div class="item-input">
            <label for="uiLanguage">&{'uiLanguage'}</label>
            <select name="uiLanguage">
                <option value="en" #{if user.uiLanguage.label.equals("en")}selected#{/if}>en</option>
                <option value="fr" #{if user.uiLanguage.label.equals("fr")}selected#{/if}>fr</option>
            </select>
        </div
        
        <div class="item-checkbox" style="float: left;">
            <a href="@{Application.changePassword()}">&{'settings.changePassword'}</a>
        </div>
        
        <div class="item-submit line-form">
            <button id="submitcreate"><span class="backbutton"></span><span class="txtbutton cuf-create">&{'settingsSubmit'}</span></button>
        </div>
        

    #{/form}
</div>
