#{extends 'content.html' /}
#{set title:user.userName + ' Settings'/}
<div class="userDetail">

    #{form @Application.saveSettings(), enctype:'multipart/form-data', id:'userSettingsForm', name:'userSettingsForm'}
    	<p>
    		<label for="userName">&{'settings.userName'}</label>
        	<input type="text" name="userName" id="userName" value="${user.userName}"/>
        	#{if errors.forKey('userName')}<span class="error">#{error 'userName' /}</span>#{/if}
        </p>
        <p>
            <a href="@{Application.changePassword()}">&{'settings.changePassword'}</a>
        </p>
        <p>
            <label for="uiLanguage">&{'uiLanguage'}</label>
            <select name="uiLanguage">
                <option value="en" #{if user.uiLanguage.label.equals("en")}selected#{/if}>en</option>
                <option value="fr" #{if user.uiLanguage.label.equals("fr")}selected#{/if}>fr</option>
            </select>
        </p>
        <p>
        	<input type="submit" value="&{'settingsSubmit'}"/>
        </p>
    #{/form}

</div>
