#{extends 'content.html' /}
#{set title:insight.content /}

#{set 'moreScripts'}
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
    	$(document).ready(function(){
    		alert( "http://"+window.location.hostname+"/create");
	    	if(document.referrer == "http://"+window.location.hostname+"/create"){
	    	setTimout(function(){
	    		AKSdk.call_action("create", true);
    		},2500);
    	}
    	});
    </script>
    <script type='text/javascript'>
      google.load('visualization', '1', {'packages':['annotatedtimeline']});
      
        google.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = new google.visualization.DataTable();
          data.addColumn('datetime', 'Date');
          data.addColumn('number', '&{'showInsight.probabilityChart'}');
          data.addColumn('string', 'title1');
          data.addColumn('string', 'text1');
          data.addRows([
          #{list items:agreeInsightTrends, as:'trend'} 
            [new Date(${trend.trendDate.getTime()}), ${trend.occurenceProbability}*100, undefined, undefined]#{if !trend_isLast},#{/if}
          #{/list}
          ]);

          var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('insightTrendsChart'));
          chart.draw(data, {'thickness': 0, 'max': 100, 'colors': ['#5D7F2C'] ,'displayAnnotations': false, 'displayRangeSelector':false, 'displayZoomButtons':false, 'dateFormat': 'HH:mm MMMM dd, yyyy', 'fill':30});
        }
    </script>
#{/set}
 
#{set openGraphType:'article' /}
#{set 'moreOpenGraph'}
<meta property="og:url" content="@@{Application.showInsight(insight.uniqueId)}"/>
<meta property="og:description"
          content="&{'showInsight.facebook.intro'} ${insight.creationDate.since(true)} &{'createdby'} ${insight.creator.userName} &{'createdin'} ${insight.category.label}: &{'showInsights.enddate'} ${insight.endDate.format("dd MMMM yyyy")}, ${insight.content}"/>
#{/set}

#{set currentMenu:'menuInsights' /}

#{set contentCenterClass:'large' /}

#{insightContainer insight:insight}

<div class="single">
    <div class="s-header">
        <p class="s-intro">
        #{isConnected}#{followInsightWidget insight:insight /}#{/isConnected}
        </p>
	    <hr class="clear"/> 
    </div>
    
    <div class="s-content">
        <div class="insight-content">
            <h2>&{'showInsights.enddate'} ${insight.endDate.format("dd MMMM yyyy")}, ${insight.content}</h2>
            #{agree-disagreeWidgetLarge insight:insight, lastUserVote:lastUserVote /}
            
            <div class="infoinsight">
                <p class="authortxt">
			        &{'creationdate'} ${insight.creationDate.since(true)} 
			        &{'createdby'} <a href="@{Application.showUser(insight.creator.userName)}" class="s-author">${insight.creator.userName}</a>
			        &{'createdin'} <a href="@{Application.insights(null, insight.category.id)}" class="link-cat">${insight.category.label}</a>
                </p>
                %{
                    java.text.NumberFormat percentFormat = java.text.NumberFormat.getPercentInstance(Locale.ENGLISH);
                    percentFormat.setMaximumFractionDigits(0);
                    String percentageScore = percentFormat.format(insight.occurenceScore);
                    
                }%
                <p class="probbloc">
                    <span style="width:${percentageScore};" class="pourcentbar"></span>
                    <span class="pourcenttxt">&{'showInsight.probabilitybar.Label'}${percentageScore}</span>
                </p>
                
                
                #{shareInsight insight:insight /}
                
            </div>
        </div>
        
        #{if insight.validated}
            <p class="insightvalidation">
            #{if insight.validationScore > 0.9}
                &{'showInsights.validation.validated.highScore'}
            #{/if}
            #{elseif insight.validationScore > models.Insight.INSIGHT_VALIDATED_TRUE_MINVAL}
                &{'showInsights.validation.validated.normalScore'}
            #{/elseif}
            #{elseif insight.validationScore > models.Insight.INSIGHT_VALIDATED_FALSE_MAXVAL}
                &{'showInsights.validation.unknow'}
            #{/elseif}
            #{elseif insight.validationScore > 0.1}
                &{'showInsights.validation.notValidated.normalScore'}
            #{/elseif}
            #{else}
                &{'showInsights.validation.notValidated.lowScore'}
            #{/else}    
            </p>
        #{/if}
        
        <div class="lastvoters">
            <p>&{'lastvoters'}</p>
            <ul class="listvoters">
            #{list items:lastVotes, as:'vote'}
                <li>#{userMiniAvatarVote vote:vote /}</li>
            #{/list}
            </ul>
            <hr class="clear"/>
        </div>

        <div class="commentzone">
            <p class="nbcomments"><span class="cuf-grm" id="commentsSize">${comments?.size()}</span> <span class="cuf-grb">&{'comments'}</span></p>
            #{isConnected}
            <form class="newcomment" id="addCommentForm">
                <div class="input-textarea">
                    <textarea cols="20" rows="4" name="content" id="commentContent"></textarea>
                </div>
                <div id="shadowGrow" style="position: absolute; top: -10000px; left: -10000px; width: 300px; font-size: 13px; font-family: monospace; line-height: 1; resize: none;"></div>
                <input name="uniqueId" type="hidden" value="${insight.uniqueId}"/>
				<input name="commentId" id="commentId" type="hidden" value=""/>
				<hr class="clear"/>
                <div class="input-submit">
                	
                    <button><span class="ajaxloader" style="display:none;"></span><span class="backbutton"></span><span class="txtbutton cuf-newaccount">&{'postcomment'}</span></button>
                    <!--<input type="submit" name="submit-comment" value="Add a comment"/>-->
                </div>
                <hr class="clear"/>
            </form>
            #{/isConnected}

            <div id="commentList" class="list-comments">
            #{list items:comments, as:'comment' }
            #{comment comment:comment /}
            #{/list}
            </div>
        </div>
        
        <div class="graphique widgetsingle"> 
            <h3 class="minititle">Probability</h3>
            <div id="insightTrendsChart" class="analytics-graph" style='width: 230px; height: 170px;'></div> 
            <p style="text-align: center; font-size: 12px; margin-top: 5px; font-style: italic;">&{'showInsights.chartTitle'}</p> 
        </div> 
        
        <div class="listtags widgetsingle"> 
	        <h3 class="minititle">Tags</h3>
	        <ul class="list-tags">
	            #{list items:insight.tags, as:'tag' }
	            <li><a href="@{Application.insights(null, null, null, tag.label, null)}">${tag.label}</a></li>
	            #{/list}

	            #{isConnected}<li class="link-new"><a href="#" id="showMoreTags">&{'suggesttags'}</a></li>#{/isConnected}
	        </ul>
	        <div id="moreTags" style="display:none;">
	        #{form @Application.addTags(insight.uniqueId)}
	            <input type="text" name="tagLabelList" id="tagLabelList" />
	            <input type="submit" value="&{'addtags'}"/>
	        #{/form}
	        </div>
        </div>
        
        <div class="listsimilar widgetsingle"> 
        <h3 class="minititle">&{'relatedInsights'}</h3>
        #{if !relatedInsights.isEmpty() }
            <ul class="list-similar">
            #{list items:relatedInsights, as:'relatedInsight'}
                <li class="relatedInsight">#{insight insight:relatedInsight, characters:110 /}</li>
            #{/list}
            </ul>
        #{/if}
        </div>

        <hr class="clear"/>

        #{isConnected}
        #{secure.check 'admin'}
        <div class="admin">
            <p>
                #{form @Admin.setInsightLanguage(), autocomplete:'off'}
                <label for="lang">Set Language :</label> <input type="text" name="lang" id="lang" value="${insight.lang}">
                <input type="hidden" name="insightUniqueId" value="${insight.uniqueId}">
                <input type="submit">
                #{/form}
            </p>            
            <p>
                #{form @Admin.setFakeValidationScore(), autocomplete:'off'}
                <label for="fakeValidationScore">Fake ValidationScore :</label> <input type="number" min="0" max="1" step="0.05" name="fakeValidationScore" id="fakeValidationScore" value="${insight.fakeValidationScore}"> (ex: "0.7", blank for null)
                <input type="hidden" name="insightUniqueId" value="${insight.uniqueId}">
                <input type="submit">
                #{/form}
            </p>
            <a href="@{Admin.hideInsight( insight.id )}" onclick="return confirm('confirm ?');" style="color: red;">hide this prediction</a>
        </div>
        #{/secure.check}
        #{/isConnected}
        
    </div>
</div>
    
#{/insightContainer}

<script type="text/javascript" charset="utf-8">
// keyboard shortcuts
/*
$(document).bind("keydown", "u", function () {
    window.location.href = "@{Application.insights()}";
});
*/
</script>