#{extends 'main.html' /}
#{set title:insight.content /}

#{set currentMenu:'menuInsights' /}

#{insightContainer insight:insight}

    #{isConnected}
    <div class="pageFavorite">
        #{followInsightWidget insight:insight /}
    </div>
    #{/isConnected}
    
    <h2>${insight.content}</h2>
    <img src='http://chart.apis.google.com/chart?chf=bg,s,F4FCF2&chs=60x40&chco=76A4FB,FF0000&cht=ls&chd=t:${agreeTrends.join(",")}'/>
    
    <div class="sideBox insightVoteDetails">
        #{isConnected}
            #{agree-disagreeWidget insight:insight /}
        #{/isConnected}
    </div>
    
    <p>&{'creationdate'} ${insight.creationDate.since(true)} &{'createdby'} #{userInline user:insight.creator /}</p>
    <p>&{'enddate'} ${insight.endDate.format("dd MMMM yyyy")}</p>
    
    #{if lastUserVote != null}
    	<p>&{'since'} ${lastUserVote.creationDate.format("dd MMMM yyyy")}, #{if lastUserVote.state.equals(models.Vote.State.AGREE)} &{'youagree'} #{/if} #{else} &{'youdisagree'} #{/else}</p> 
    #{/if}
    
    <div id="lastVoters">
	    <h3>&{'lastvoters'}</h3>
	    <ul>
	    #{list items:lastVotes, as:'vote'}
	        <li>#{voteInline vote:vote /}</li>
	    #{/list}
	    </ul>
    </div>
    
    <div id="category">
        <h3>&{'category'}</h3>
        <p>${insight.category.label}</p>
    </div>
    
    <div id="tagList">
	    <h3>${'tags'}</h3>
	    <ul>
	    #{list items:insight.tags, as:'tag' }
	        <li>${tag.label}</li>
	    #{/list}
        </ul>
        
        #{isConnected}
        <p>
	    <span onclick="showAddMoreTags()"><a href="">&{'suggesttags'}</a></span>
	    </p>
	    <div id="moreTags" style="display:none;">
	    #{form @Application.addTags(insight.id)}
	        <input type="text" name="tagLabelList" id="tagLabelList" />
	        <input type="submit" value="&{'addtags'}"/>
	    #{/form}
	    </div>
	    #{/isConnected}
    </div>
    
    
    <div class="shareContainer">
	    <div class="onFacebook">
	        <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like show_faces="false" width="450"></fb:like>
	    </div>
	    <div class="onTwitter">
	        <a href="http://twitter.com/share" class="twitter-share-button" data-text="${insight.content} & {'onbeansight'}" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	    </div>
	    <div class="onBeansight">
	       <a href="" id="shareOnBeansight">&{'shareonbeansight'}</a>
	       <input type="text" style="display:none;" id="shareOnBeansightUsername"/>
	    </div>
    </div>
    
    <h3>&{'comments'}</h3>
    <ul id="commentList">
    #{list items:insight.comments, as:'comment' }
        <li>${comment.user} (${comment.creationDate.since(true)}):<br/> ${comment.content.escape().nl2br()}</li>
    #{/list}
    </ul>
#{isConnected}
    <form id="addCommentForm">
        <div>
        <label for="label">&{'addcomment'}</label>
        </div>
        <div class="right">
        <textarea name="content"></textarea>
        <input type="submit" value="&{'postcomment'}" id="submit"/>
        </div>
    </form>
#{/isConnected}

#{/insightContainer}

<script type="text/javascript" charset="utf-8">

/** show the more tag suggestion input field*/
	function showAddMoreTags() {
		$('#moreTags').show();
	}


	/** Submit action for add comment form */
	$('#addCommentForm').submit(function() {
	    $.getJSON("@{Application.addComment(insight.id)}", $(this).serialize(), onAddCommentSuccess);
	    return false;
	});
	
	/** callback for comment addition */
	function onAddCommentSuccess(data) {
	    $("#commentList").append( '<li>' + data.user + " (" + data.since + ")" + "<br/>" + data.content + '</li>');
	    clearForm('#addCommentForm');
	}

</script>