#{extends 'content.html' /}
#{set title:user.userName /}

#{if currentUserProfilePage}
    #{set currentMenu:'menuProfile' /}
#{/if}
#{else}
    #{set currentMenu:'menuExperts' /}
#{/else}

#{if currentUserProfilePage}
	#{set 'moreScripts'}    
	    <script src="@{'/public/javascripts/jquery.imgareaselect.pack.js'}" type="text/javascript" charset="utf-8"></script>
	#{/set}
	#{set 'moreStyles'}
	    <link rel="stylesheet" href="@{'/public/stylesheets/css/imgareaselect-default.css'}" type="text/css" />
	#{/set}
	<script language="Javascript">
        function refreshAvatarImage() {
        var now = new Date();
	       $("#userAvatarImage").attr('src', '@{Application.showAvatarLarge(user.userName, user.avatarHashCode())}?' + now.getTime());
	       $("#uploadedImage").attr('src', '@{Application.displayOriginalUncropedImage(user.avatarHashCode())}?' + now.getTime());
	       $("#preview").attr('src', '@{Application.displayOriginalUncropedImage(user.avatarHashCode())}?' + now.getTime());
	    }
	</script>
#{/if}

#{set contentCenterClass:'large' /}

#{userContainer user:user}
<div class="myprofil">
    <div class="leftprofil">
        <div class="avatar-profil">
                <img src="@{Application.showAvatarLarge(user.userName, user.avatarHashCode())}" id="userAvatarImage" />
                #{if currentUserProfilePage}
                <a id="cropAvatar" href="#" class="edit">&{'showUser.cropAvatarImage'}</a>
                #{/if}
        </div>
        <div class="linksprofil">
            #{isConnected}
            	#{ifnot currentUserProfilePage}
		            <a href="#" onClick="return toggleFollowingUser(${user.id});" class="addfav #{if controllers.CurrentUser.getCurrentUser().isFollowingUser(user)}active#{/if}#{else}inactive#{/else}">Add to favorite</a>
		            <a href="#" class="sendmail" id="link-sendmail">&{'showUser.sendMessage'}</a>
            	#{/ifnot}
            #{/isConnected}
        </div>
        #{if currentUserProfilePage}
           <a href="" id="editAvatar" class="edit leftProfileButton">&{'showUser.editAvatar'}</a>
            <div id="editAvatarZone" style="display:none;" class="edit">
            #{form @Settings.updateUserAvatar(), enctype:'multipart/form-data', id:'updateUserAvatarForm' }
                <label for="avatar">&{'showUser.edit.avatar'}</label>
                <input type="file" id="avatar" name="originalImage">
                <input type="submit">
            #{/form}
            </div>
        #{/if}
    </div>
    <div class="info-profil">
        <h2>${user.userName} <span id="userRealName">#{if user.realName}(#{/if}${user.realName}#{if user.realName})#{/if}</span></h2>
        #{if currentUserProfilePage}
	        #{if user.realName == null || user.realName.equals("")}
	            <a href="" id="editRealName" class="edit">&{'showUser.addRealName'}</a>
	        #{/if} #{else}
	            <a href="" id="editRealName" class="edit">&{'showUser.editRealName'}</a>
	        #{/else}
	        <div id="editRealNameZone" style="display:none;" class="edit">
	        <form id="updateUserRealNameForm">
	            <label for="userName">&{'showUser.edit.realName'}</label>
	            <input type="text" name="realName" value="${user.realName}"/>
	            <input type="submit">
	        </form>
	        </div>
        #{/if}
        <p class="resume" id="userDesctiption">#{if user.description}${user.description?.escape().linkifyAll("style='font-style: italic;'").nl2br()}#{/if}</p>
        #{if currentUserProfilePage}
        #{if user.description == null || user.description.equals("")}
        <a href="" id="editDescription" class="edit">&{'showUser.addDescription'}</a>
        #{/if} #{else}
        <a href="" id="editDescription" class="edit">&{'showUser.editDescription'}</a>
        #{/else}
        <div id="editDescriptionZone" style="display:none;" class="edit">
        <form id="updateUserDescriptionForm">
            <label for="description">&{'showUser.edit.description'}</label>
            <textarea name="description" class="descriptionTextArea">${user.description}</textarea>
            <input type="submit">
        </form>
        </div>
        #{/if}
    </div>
    <hr class="clear"/>
    <div class="boxmail" id="boxlink-sendmail" style="display:none;">
        <form id="sendMessageForm">
            <div class="item-textarea">
                <textarea cols="20" rows="5" id="messageUserContent"  name="content"></textarea>
            </div>
            <input type="hidden" name="id" value="${user.id}" />
            <div class="item-submit">
                <button><span class="backbutton"></span><span class="txtbutton cuf-newaccount">&{'messagesubmit'}</span></button>
            </div>
        </form>
    </div>
    <p id="messagesentconfirm" style="display:none;">&{'messagesentconfirm'}</p>

</div>

<div class="mybadges">
    <h2 class="cuf-grb">&{'userratings'}</h2>
    <div class="liststars">
    #{list items:user.categoryScores, as:'categoryScore' }
        *{ Only display the 3 best categories }*
        #{if categoryScore_index < 4 && ( categoryScore.normalizedScore < 1 || categoryScore.score > 0) } *{ the last condition is here to remove people who have a score to 0 and a normalized score to 1 }*
        <div class="colvote">
            <h3>${categoryScore.category.label}</h3> #{stars score:categoryScore.normalizedScore /}
        </div>
        #{/if}
    #{/list}
    </div>
</div>
<hr class="clear"/>

<!-- TODO COLORZ : add filters -->
<div class="listinsights" id="userinsights">
    #{if currentUserProfilePage}
    <h2 class="cuf-grb">&{'myinsights'}</h2>
    #{/if}
	#{else}
    <h2 class="cuf-grb">&{'userinsights'}</h2>	   
    #{/else}
    
    <input type="hidden" name="userName" id="userName" value="${user.userName}"/>
    <ul class="menulistinsights">
        <li>
	        <div id="radioVotefilter" style="font-size: 11px;">
		        <input type="radio" autocomplete="off" name="userVoteGroup" value="voted" checked id="radioVoteVoted"/>       <label for="radioVoteVoted">    &{'showUser.filterVoted'}   </label>
		        <input type="radio" autocomplete="off" name="userVoteGroup" value="created"      id="radioVoteCreated"/>    <label for="radioVoteCreated"> &{'showUser.filterCreated'}</label>
	        </div>
        </li>
	    <li>
		    <div class="filterDropDown">
		    <select name="categoryId" id="userInsightsFilterCategory" autocomplete="off">
		       <option value="0" #{if category == null}selected#{/if}>&{'insights.category'} All</option>
			   #{list items:controllers.Application.getCategories(), as:'cat'}
			       <option value="${cat.id}" #{if category && category.id == cat.id}selected#{/if}>${cat.label}</option>
			   #{/list}
			</select>
			</div>
	    </li>
    </ul>    
    
    <ul id="insightList">
    	*{
        #{listInsights insights:lastInsights, targetUser:user /}
		}*
    </ul>
    <div id="moreResults" class="seeall">
        <p><a id="moreUserInsights" href="#">&{'insights.more'}</a></p>
    </div>
</div>

#{isConnected}
#{secure.check 'admin'}
<div class="admin">
    <h3>admin box</h3>
    <p>${user.invitationsLeft} invitations left.</p>
    #{form @Admin.addInvitationsToUser(user.id) }
        <input type="text" name="number" />
        <input type="submit" name="submit" value="Add" />
    #{/form}
</div>
#{/secure.check}
#{/isConnected}

#{if currentUserProfilePage}
<!-- HTML for the modal dialog used to crop user original image -->
<div id="modal-crop" title="Crop image">
    <div style="float: left; width: 75%;">
        <p class="instructions">&{'selectArea'}</p>
 
        <div style="margin: 0pt 0.3em; width: 300px; height: auto;" class="frame">
            <img src="@{Application.displayOriginalUncropedImage(user.avatarHashCode())}"  id="uploadedImage" style="width:300px;height:auto;">
        </div>  
    </div>      
    
    <div style="float: left; width: 25%;">
        <p>&{'selectionPreview'}</p>
    
        <div style="margin: 0pt 1em; width: 100px; height: 100px;" class="frame">
            <div style="width: 100px; height: 100px; overflow: hidden;" id="preview">
                <img src="@{Application.displayOriginalUncropedImage(user.avatarHashCode())}" id="preview" style="width:100px;height:100px;"/>
            </div>
        </div>  
        <form id="cropForm">
            <input type="hidden" id="x1" name="x1"/>
            <input type="hidden" id="y1" name="y1"/>
            <input type="hidden" id="x2" name="x2"/>
            <input type="hidden" id="y2" name="y2"/>
            <input type="hidden" id="imageW" name="imageW"/>
            <input type="hidden" id="imageH" name="imageH"/>                
            <input type="submit" value="&{'imageCropSubmit'}"/> 
        </form> 
    </div>
</div>
#{/if}

#{/userContainer}

<script type="text/javascript">
var NUMBER_INSIGHTS_INSIGHTPAGE = ${controllers.Application.getNumberInsightsInsightPage()};
var insightsFrom = 0;
var bindingTime = true;


$(document).ready(function() {
	
	// Used when using browser's back and forward buttons 
	$.History.bind(function(state) {
		if (state  == "") {
			$("#radioVoted").attr("checked", "checked");
			$(':radio').button('refresh');
			loadInsights(getUserInsightsAction, generateGetUserInsightsArguments);
		} else {
			if (bindingTime == false) {
				insightsFrom = parseInt(gup($.History.getHash(), "from"));
				reloadInsights( $.History.getHash() );
				refreshFilters( $.History.getHash() );
			} else {
				bindingTime = false;
			}
		}
		
	});
	
	
});

// used to load insights accordingly to the url when you load the page
if ($.History.getHash()  == "") {
	$("#radioVoted").attr("checked", "checked");
	$(':radio').button('refresh');
	loadInsights(getUserInsightsAction, generateGetUserInsightsArguments);
} else {
	if (bindingTime == false) {
		insightsFrom = parseInt(gup($.History.getHash(), "from"));
		reloadInsights( $.History.getHash() );
		refreshFilters( $.History.getHash() );
	} else {
		bindingTime = false;
	}
}

</script>