#{extends 'content.html' /}
#{set title:user.userName /}

#{if currentUserProfilePage}
    #{set currentMenu:'menuProfile' /}
#{/if}
#{else}
    #{set currentMenu:'menuExperts' /}
#{/else}

#{userContainer user:user}

#{isConnected}
<div class="pageFavorite">
    #{followUserWidget user:user /}
</div>
#{/isConnected}

<h2>${user.userName} (${user.firstName} ${user.lastName})</h2>

<div><img width="100px" src="@{Application.showAvatar(user.id)}" id="cropbox" /></div>

<div>#{sendMessage user:user /}</div>

<div>
	<p>score ${user.score}</p>
	<p>score by category:</p>
	<ul>
	    #{list items:user.categoryScores, as:'categoryScore' }
	        <li>
	            ${categoryScore.category.label}: ${categoryScore.score}
	        </li>
	    #{/list}
	</ul>
<p><a href="@{Application.temp_recomputeScore()}">TEMP Recompute Score</a></p>
</div>

<div>
    #{if currentUserProfilePage}
    <h2>&{'myinsights'}</h2>
    #{/if}
	#{else}
    <h2>&{'userinsights'}</h2>	   
    #{/else}
    <ul>
        #{listInsights insights:lastInsights /}
    </ul>
</div>

#{isConnected}
#{secure.check 'admin'}
<div class="admin">
    <h3>admin box</h3>
    <p>${user.invitationsLeft} invitations left.</p>
    #{form @Admin.addInvitationsToUser(user.id) }
        <input type="text" name="number" />
        <input type="submit" name="submit" value="Add" />
    #{/form}
</div>
#{/secure.check}
#{/isConnected}

#{/userContainer}