#{extends 'main.html' /}

<!-- CONTENT -->
<div id="content">

<!-- SIDEBAR LEFT -->
<div id="sidebarleft">

#{isConnected}
<!-- CREER INSIGHT -->
<p class="btn-newins"><a href="@{Application.create()}" class="cuf-grm #{currentMenu 'menuCreate' /}">&{'menucreate'}</a></p>
    #{if !emailConfirmed}
    <div id="plzconfirm" class="warning">
    <p>&{'needemailconfirm'}</p>
    </div>
    #{/if}
#{/isConnected}

#{menu /}

#{isConnected}
    #{favorites followedTopicActivities:followedTopicActivities, followedInsightActivities:followedInsightActivities, followedUserActivities:followedUserActivities, advisedUsers:advisedUsers /}
    #{featuredSponsor featuredSponsor:featuredSponsor /}
    #{invitations invitationsLeft:invitationsLeft /}
    <hr class="clear"/>
#{/isConnected}

#{isNotConnected}
    #{if landingPage}
        <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fbeansight&amp;width=230&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=280" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:230px; height:280px;" allowTransparency="true"></iframe>
        <hr class="clear"/>
    #{/if}
    #{else}
        <p class="marketing-text">&{'indexNotConnected.marketing'}</p>
        <p class="btn-newins"><a href="@{Register.register()}" class="cuf-grm #{currentMenu 'menuSignUp' /}">&{'signuplink'}</a></p>
    #{/else}
#{/isNotConnected}

</div>
	
<div id="contentcenter" class="#{get 'contentCenterClass' /}">
#{doLayout /}
</div>

#{if landingPage}
<!-- SIDEBAR RIGHT -->
<div id="sidebarright" class="notlog">
    <a href="@{Register.register()}" class="linksignup cuf-grm">Sign Up</a> <!-- TODO : i18n S'enregistrer -->
    <div class="pushsignup">
        <a href="@{Register.register()}" class="whatisbeansight &{'i18n'}"></a>
    </div>
</div>
</div>

<hr class="clear"/>
#{/if}

</div>


<hr class="clear"/>