<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>#{get 'title' /} - Beansight</title>

     <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jquery-ui/smoothness/jquery-ui-1.8.5.custom.css'}">
     #{get 'moreStyles' /}  
              
     <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
   
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
     <script src="@{'/public/javascripts/jquery.validate.min.js'}" type="text/javascript" charset="utf-8"></script>

     <!-- load the right i18n file -->
     <script src="/public/javascripts/i18n/&{'i18n'}.js" type="text/javascript" charset="utf-8"></script>
     
     <script src="@{'/public/javascripts/beansight.js'}" type="text/javascript" charset="utf-8"></script>
     #{get 'moreScripts' /}  
     
     <!-- define here the actions -->
     <script type="text/javascript">
     var agreeAction = #{jsAction @Application.agree(':insightUniqueId') /};
     var disagreeAction = #{jsAction @Application.disagree(':insightUniqueId') /};
     var resetInsightActivityAction = #{jsAction @Application.resetInsightActivity() /};
     var toggleFollowingInsightAction = #{jsAction @Application.toggleFollowingInsight(':insightUniqueId') /};
     var toggleFollowingUserAction = #{jsAction @Application.toggleFollowingUser(':userId') /};
     var moreInsightsAction = #{jsAction @Application.moreInsights(':from', ':categoryId') /};
     var moreSearchAction = #{jsAction @Application.moreSearch(':query', ':from', ':categoryId') /};
     var inviteAction = #{jsAction @Application.invite() /};
     var sendMessageAction = #{jsAction @Application.sendMessage() /};
     var shareInsightAction = #{jsAction @Application.shareInsight() /};
     var favoriteUserSuggestAction = #{jsAction @Application.favoriteUserSuggest() /};
     var tagSuggestAction = #{jsAction @Application.tagSuggest() /};
     var leaveYourEmailAction = #{jsAction @Application.leaveYourEmail() /};
     </script>
     
</head>
<body>
<div id="mainContainer" class="container">

#{userOptions /}

<div id="logo">
	<a href="/"><img alt="Beansight" src="@{'/public/images/logo.png'}" /></a>
</div>
    
#{if flash.error}
    <div class="error">${flash.error}</div>
#{/if}
#{if flash.success}
    <div class="success">${flash.success}</div>
#{/if}
	
<div class="mainContent">
#{doLayout /}
</div>
	
<div id="footer">
       <div>
           <span class="beansight">Beansight</span>
       </div>

       <div>
           <ul>
               <li id="link-twitter"><a href="http://twitter.com/beansight">Twitter</a></li>
               <li id="link-facebook"><a href="http://www.facebook.com/pages/Beansight/120701864625294">Facebook</a></li>
               <li id="link-blog"><a href="http://beansight.tumblr.com/">Blog</a></li>
           </ul>
       </div>
       
       <div>
           <a href="mailto:contact@beansight.com">contact</a>
       </div>

</div>

</div>

<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};
  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "beansight";
  feedback_widget_options.placement = "left";
  feedback_widget_options.color = "#222";
  feedback_widget_options.style = "idea";
  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>

</body>
</html>