#{extends 'main.html' /}
#{set 'title'}
	&{'welcome.title'}
#{/set}

#{set contentClass:'contact' /}

<div class="bloccontent blocleft">
    <h2 class="cuf-grs"> </h2>

    <div class="block-share twitshare">
		<a href="#">
		    <span class="shadowtwit">&{'alreadyxxfollowers', 212}</span>
		    <span class="linkmiddle shadowtwit2">&{'followus'}</span>
		</a>
    </div>
    <div class="block-share fbshare">
	    <a href="#">
	        <span class="shadowfb">&{'alreadyxxfans', 352}</span>
	        <span class="linkmiddle shadowfb2">&{'likeus'}</span>
	    </a>
    </div>
</div>
<div class="bloccontent bloccenter">
	<div id="contact_otherMessage"></div>
    <form action="#" id="contactForm">
        <h2 class="cuf-grb">&{'contact.contactUs'}</h2>

        <label for="name">&{'contact.yourName'}</label> 
        <label for="name" id="name_error"></label>
        <div class="item-input">
            <input class="textfield" type="text" name="name" value="" id="name"/>
        </div>

        <label for="from">&{'contact.yourEmail'}</label>
        <label for="from" id="from_error"></label>
        <div class="item-input">
            <input class="textfield" type="text" name="from" value="" id="from"/>
        </div>

        <label for="subject">&{'contact.subject'}</label>
        <label for="subject" id="subject_error"></label>
        <div class="item-input">
            <input class="textfield" type="text" name="subject" value="" id="subject"/>
        </div>

        <label for="message">&{'contact.message'}</label>
        <label for="message" id="message_error"></label>
        <div class="item-textarea">
            <textarea cols="15" rows="5" name="message" id="message"></textarea>
        </div>

        <div class="item-submit">
            <button><span class="backbutton"></span><span class="txtbutton cuf-newaccount">&{'sendmymessage'}</span></button>
        </div>

    </form>
    <div id="contactCallBackMsg">
    </div>
</div>


<hr class="clear"/>