#{extends 'content.html' /}
#{set 'title'}
    &{'experts.explore'}
#{/set}

#{set currentMenu:'menuExperts' /}
#{set contentCenterClass:'large' /}

<h2 class="cuf-grb">&{'expertstitle'}</h2>

<div class="half-block best-block">
#{if sortedFollowedUsers} 
<h3 class="half-title">&{'bestExperts.followed'}</h3>
<div class="listinsights listexperts">
<ul>
#{list items:sortedFollowedUsers, as:'friend'}
    #{if friend_index < controllers.Application.NUMBER_FOLLOWED_EXPERTPAGE + 1
        || friend_index == currentUserRank
        || friend_index == currentUserRank + 1
        || friend_index == currentUserRank + 2 }
        <li>
        #{expertLineHalf expert:friend, index:friend_index /}
        </li>
    #{/if}
    
    *{ Display a "..." after the friend list }*
    #{if friend_index == currentUserRank + 2}
    <li>
        #{expertDots /}
    </li>
    #{/if}

    *{ Display a "..." after the first user list and before the currentUser - 1, if needed }*
    #{if currentUserRank > controllers.Application.NUMBER_FOLLOWED_EXPERTPAGE + 2 
        && friend_index == currentUserRank -1}
    <li>
        #{expertDots /}
    </li>
    #{/if}
#{/list}
</ul>
</div>
#{/if} 
</div>

<div class="half-block best-block">
	<h3 class="half-title">&{'bestExperts.best'}</h3>
	<div class="listinsights listexperts">
	<ul>
	#{list items:experts, as:'expert'}
	    #{expertLineHalf expert:expert, index:expert_index /}
	#{/list}
	<li>
        #{expertDots /}
	</li>
	</ul>
	</div>
</div>

<hr class="clear"/>

#{list items:controllers.Application.getCategories(), as:'category' }
<div class="half-block best-block">
    <h3 class="half-title">${category.label}</h3>
    <div class="listinsights listexperts">
    <ul>
    #{list items:bestUsersByCategory.get(category), as:'user'}
    <li>
       #{expertLineHalf expert:user, index:user_index /}
    </li>
    #{/list}
    <li>
        #{expertDots /}
    </li>
    </ul>
    </div>
</div>
#{/list}
