#{extends 'content.html' /}
#{set 'title'}
    &{'createinsight'}
#{/set}

#{set currentMenu:'menuCreate' /}

#{set contentCenterClass:'large' /}

<h2 class="cuf-grb">&{'createInsightTitle'}</h2>
<div class="contentlarge">
    <div class="newinsight">
    #{form @Application.createInsight(), id:'insightCreationForm', autocomplete:'off'}


        <div class="line-form">
            <label for="c_sujet">&{'createInsightMessage'}</label>
            <div class="item-textarea">
                <!-- TODO COLORZ id="c_sujet" -->
                <textarea name="insightContent" id="insightContent" class="insightContent" cols="50" rows="2">${insightContent}</textarea>
                #{if errors.forKey('insightContent')}<span class="error">${errors.forKey('insightContent')}</span>#{/if}
            </div>
            <div class="compteur-carac">
                <div id="progressbar"></div>
            </div>
            <p id="caracterNumbers" class="progressnb"><span id="currentCaractersNumbers">0</span> / 120</p>
            <hr class="clear"/>
            *{ <span style="display:none" id="strangeLanguage">&{'create.strangeLanguage'}</span> }*
        </div>
        
        <div class="line-form">
            <label for="endDate">&{'createInsightDate'}</label>
            <div class="item-input">
                <!-- TODO COLORZ colorz: id="c_date"  -->
                <input class="textfield datePicker" type="text" name="endDate" id="endDate" size="10" value="${endDate?.format("yyyy-MM-dd")}" />
                #{if errors.forKey('endDate')}<span class="error">${errors.forKey('endDate')}</span>#{/if} 
                
            </div>
        </div>
 
        <div class="line-form">
            <label for="category">&{'createInsightCategory'}</label>
            #{selectCategories none:true/}
            #{if errors.forKey('categoryId')}<span class="error">${errors.forKey('categoryId')}</span>#{/if}
        </div>


        <div class="line-form">
            <label for="taginput">&{'createInsightTags'}</label>
            <div class="item-input">
                <input class="textfield" type="text" name="" id="taginput" value="${tagLabelList}" />
                <input type="hidden" name="tagLabelList" value="${tagLabelList}" id="tagresult"/>
                #{if errors.forKey('tagLabelList')}<span class="error">${errors.forKey('tagLabelList')}</span>#{/if}
            </div>
            <div class="listtags"></div>
        </div>

        <div class="line-form listvote">
            <label for="vote">&{'createInsightVote'}</label>
            <div class="item-input">
                <ul>
                    <li class="vagree">     <input type="radio" name="vote" value="agree"       id="vote"       ${(vote == null || vote?.equals('agree')) ? 'checked="true"' : ''}  > <label for="vote">&{'createInsight.Iagree'}</label></li>
                    <li class="vnotagree">  <input type="radio" name="vote" value="disagree"    id="vdisagree"  ${vote?.equals('disagree') ? 'checked="true"' : ''}                 > <label for="vdisagree">&{'createInsight.Idisagree'}</label></li>
                    <li class="vnovote">    <input type="radio" name="vote" value="novote"      id="vnovote"    ${vote?.equals('novote') ? 'checked="true"' : ''}                   > <label for="vnovote">&{'createInsight.Idontvote'}</label></li>
                </ul>
	            #{if errors.forKey('voteState')}<span class="error">${errors.forKey('voteState')}</span>#{/if}
            </div>
        </div>

        <input type="hidden" name="lang" value="${controllers.CurrentUser.getCurrentUser().writtingLanguage}" id="insightLang"/>
        <input type="hidden" name="langConfidence" value="0" id="insightLangConfidence"/>
        <span style="display:none" id="userWrittingLanguage">${controllers.CurrentUser.getCurrentUser().writtingLanguage}</span>
        <span style="display:none" id="userSecondWrittingLanguage">${controllers.CurrentUser.getCurrentUser().secondWrittingLanguage}</span>
        

        <div class="item-submit line-form">
            <button id="submitcreate"><span class="backbutton"></span><span class="txtbutton cuf-create">&{'createInsightSubmit'}</span></button>
        </div>
    #{/form}
    </div>
</div>
