#{extends 'content.html' /}
#{set 'title'}
    &{'experts.explore'}
#{/set}

#{set currentMenu:'menuExperts' /}


#{set contentCenterClass:'mini' /}

<h2 class="cuf-grb">&{'expertstitle'}</h2>

<div class="listinsights listexperts">
    <ul class="menulistinsights">
        
        #{isConnected}
        <li class="sortby">&{'experts.filter'}</li>
        <li class="first">
            <div id="radioFilterBy" style="font-size: 11px;">
                <input type="radio" autocomplete="off" name="FilterByGroup" value="favorites" checked  id="radioFilterByFavorites" />         <label for="radioFilterByFavorites">    &{'experts.filter.favorites'} </label> 
                <input type="radio" autocomplete="off" name="FilterByGroup" value="all"          id="radioFilterByAll"/>          <label for="radioFilterByAll">    &{'experts.filter.all'} </label>
            </div>        
        </li>
        #{/isConnected}
        
        <li>
            <div class="filterDropDown">
            <select name="categoryId" id="expertsFilterCategory" autocomplete="off">
               <option value="0" #{if cat == 0}selected#{/if}>&{'insights.category'} All</option>
               #{list items:controllers.Application.getCategories(), as:'category'}
                   <option value="${category.id}" #{if cat == category.id}selected#{/if}>${category.label}</option>
               #{/list}
            </select>
            </div>
        </li>
    </ul>
    
    <!-- expert search -->
    <div class="item-expert">
        <div class="content-expert">
            <form action="#" class="searchexp" id="searchExpForm">
                <label for="query" class="nodisplay">&{'expertssearch'}</label>
                <input type="text" value="${query}" name="query" id="query" class="txtinput"  placeholder="&{'expertssearch'}"/>
                <input type="submit" name="sub-expert" value="&{'expertssearchbutton'}" class="subinput"/>
            </form>
        </div>
    </div>
    
	<div id="expertSearchResult">
		<ul id="expertsList">
		</ul>
	</div>
    <div class="seeall">
        <p><a id="moreExperts" href="#">&{'experts.loadmore'}</a></p>
    </div>
</div>

<script type="text/javascript">
var NUMBER_EXPERTS_EXPERTPAGE = ${controllers.Application.NUMBER_EXPERTS_EXPERTPAGE};
var expertsFrom = 0;
var bindingTime = true;

$(document).ready(function() {
    // Used when using browser's back and forward buttons 
    $.History.bind(function(state) {
        if (state  == "") {
            loadNoParameters();
        } else {
            if (bindingTime == false) {
                expertsFrom = parseInt(gup($.History.getHash(), "from"));
                reloadExperts( $.History.getHash() );
                refreshExpertsFilters( $.History.getHash() );
            } else {
                bindingTime = false;
            }
        }      
    });
});

// used to load insights accordingly to the url when you load the page
if ($.History.getHash()  == "") {
    loadNoParameters();
} else {
    if (bindingTime == false) {
        insightsFrom = parseInt(gup($.History.getHash(), "from"));
        reloadExperts( $.History.getHash() );
        refreshExpertsFilters( $.History.getHash() );
    } else {
        bindingTime = false;
    }
}

function loadNoParameters() {
     $("#radioFilterByFavorites").attr("checked", "checked");
     $(':radio').button('refresh');
     loadExperts();
}

</script>
