#{extends 'main.html' /}
#{set 'title'}&{'welcome.title'}#{/set}

#{set contentClass:'contact' /}

<!-- SIDEBAR LEFT -->
<div id="sidebarleft">
    <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fbeansight&amp;width=230&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=374" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:230px; height:374px;" allowTransparency="true"></iframe>
    <hr class="clear"/>
</div>

<!-- CONTENU CENTRE -->
<div id="contentcenter" class="mini">
    <div class="welcomeMessage">
    <div class="welcomeText">&{'welcome.leaveYourEmailMsg'}</div>
    <form id="leaveYourEmailForm" class="bigform">
        <label class="label" for="email">&{'email'}</label>
        <div class="item-input">
            <input class="textfield" type="text" id="email" name="email"/>
            <span class="error">#{error 'email' /}</span>
        </div>
        <div class="item-submit">
            <button><span class="backbutton"></span><span class="txtbutton cuf-newaccount">&{'welcome.leaveYourEmailSubmit'}</span></button>
        </div>          
    </form>
    <div id="leaveYourEmailCallBackMsg"></div>
    </div>
</div>

<!-- SIDEBAR RIGHT -->
<div id="sidebarright" class="notlog">
    <a href="@{Register.register()}" class="linksignup cuf-grm">Sign Up</a> <!-- TODO : i18n S'enregistrer -->
    <div class="pushsignup">
        <a href="@{Register.register()}" class="whatisbeansight &{'i18n'}"></a>
    </div>
</div>
</div>

<hr class="clear"/>
