<!doctype html>
<html xmlns:og="http://ogp.me/ns#"
    xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>#{get 'title' /} - Beansight</title>

    <link rel="stylesheet" type="text/css" href="#{beansight.resource name:'/public/stylesheets/style.css' /}" />
	<link rel="stylesheet" type="text/css" href="#{beansight.resource name:'/public/stylesheets/jquery-ui/beansight/jquery-ui-1.8.10.custom.css' /}">
	#{get 'moreStyles' /}  

	#{favicon /}
	
	<meta property="og:title"      content="#{get 'title' /} - Beansight" />
    <meta property="og:site_name"  content="Beansight" />
    <meta property="og:type"       content="#{if openGraphType == null}website#{/if }#{else}#{get 'openGraphType' /}#{/else}" />
	<meta property="og:image"      content="@@{'/public/images/beansight_icon.jpg'}" />
	<meta property="fb:app_id"     content="${play.configuration.getProperty("facebook.client_id")}" />
    <meta name="description"  content="&{'beansightDescription'}" />
    #{get 'moreOpenGraph' /}

    *{ TEMP for Google webmaster tool }*
    <meta name="google-site-verification" content="Y7yziTs492G_Z5Ogo8PCt4qusa7cr7AUoxUK-OUP-3g" />
	
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>-->
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js" type="text/javascript"></script>-->
	
	<script src="#{beansight.resource name:'/public/javascripts/jquery-1.4.2.min.js' /}" type="text/javascript"></script>
    <script src="#{beansight.resource name:'/public/javascripts/jquery-ui-1.8.5.custom.min.js' /}" type="text/javascript"></script>
	
	<script src="#{beansight.resource name:'/public/javascripts/jquery.validate.min.js' /}" type="text/javascript"></script>
    <script src="#{beansight.resource name:'/public/javascripts/jquery.tooltip.min.js' /}" type="text/javascript"></script>	
    <script src="#{beansight.resource name:'/public/javascripts/jquery.hotkeys.js' /}" type="text/javascript"></script>	
	<script src="#{beansight.resource name:'/public/javascripts/jquery.extend.js' /}" type="text/javascript"></script>
	<script src="#{beansight.resource name:'/public/javascripts/jquery.selectbox-0.6.1.js' /}" type="text/javascript"></script>
    <script src="#{beansight.resource name:'/public/javascripts/jquery.placeholder.min.js' /}" type="text/javascript"></script>
    	
	<script src="#{beansight.resource name:'/public/javascripts/cufon-yui.js' /}" type="text/javascript"></script>
	<script src="#{beansight.resource name:'/public/javascripts/got-rnd-book_325.font.js' /}" type="text/javascript"></script>
	<script src="#{beansight.resource name:'/public/javascripts/got-rnd-med_350.font.js' /}" type="text/javascript"></script>
	<script src="#{beansight.resource name:'/public/javascripts/got-rnd-bold_400.font.js' /}" type="text/javascript"></script>

	<!-- Include History (Production) -->
	<script type="text/javascript" src="#{beansight.resource name:'/public/javascripts/history/jquery.history.min.js' /}"></script>

	<!-- Beansight javascripts -->
	<script src="/public/javascripts/i18n/&{'i18n'}.js" type="text/javascript" charset="utf-8"></script>
	<script src="#{beansight.resource name:'/public/javascripts/beansight.js' /}" type="text/javascript" charset="utf-8"></script>
	
	<!-- auto grow jquery plugin -->
	<script src="/public/javascripts/jquery.autogrow-textarea.js" type="text/javascript" charset="utf-8"></script>
	#{get 'moreScripts' /}  
	
	<!-- define here the actions -->
	<script type="text/javascript">
	var agreeAction = #{jsAction @API.agree(':insightUniqueId') /};
	var disagreeAction = #{jsAction @API.disagree(':insightUniqueId') /};
	var resetInsightActivityAction = #{jsAction @Application.resetInsightActivity() /};
	var toggleFollowingInsightAction = #{jsAction @Application.toggleFollowingInsight(':insightUniqueId') /};
    var toggleFollowingTopicAction = #{jsAction @Application.toggleFollowingTopic(':topicId') /};	
	var toggleFollowingUserAction = #{jsAction @Application.toggleFollowingUser(':userId') /};
	var removeFollowedUserAction = #{jsAction @Application.removeFollowedUser(':userId') /};
	var followAllFacebookFriendsAction = #{jsAction @Application.followAllFacebookFriends() /};
	var loadFollowedUsersBlockAction = #{jsAction @Application.loadFollowedUsers() /};
	var loadFollowedTopicsBlockAction = #{jsAction @Application.loadFollowedTopics() /};
	var getInsightsAction = #{jsAction @Application.getInsights(':from',':sortBy', ':cat', ':filterVote', ':topic', ':closed') /};
	var reloadInsightsAction = #{jsAction @Application.reloadInsights(':from',':sortBy', ':cat', ':filterVote', ':topic', ':closed') /};
	var getUserInsightsAction = #{jsAction @Application.getUserInsights(':userName', ':from', ':cat', ':filterVote') /};
	var reloadUserInsightsAction = #{jsAction @Application.reloadUserInsights(':userName', ':from', ':cat', ':filterVote') /};
	var searchExpertsAction = #{jsAction @Application.searchExperts() /};
    var reloadSearchExpertsAction = #{jsAction @Application.reloadSearchExperts(':query', ':cat', ':filter', ':from') /};
	var moreSearchAction = #{jsAction @Application.moreSearch() /};
	var inviteAction = #{jsAction @Application.invite() /};
	var sendMessageAction = #{jsAction @Application.sendMessage() /};
	var shareInsightAction = #{jsAction @Application.shareInsight() /};
	var favoriteUserSuggestAction = #{jsAction @Application.favoriteUserSuggest() /};
	var tagSuggestAction = #{jsAction @Application.tagSuggest() /};
	var cropImageAction = #{jsAction @Application.cropImage() /};
	var leaveYourEmailAction = #{jsAction @Application.leaveYourEmail() /};
	var sendToContactAction = #{jsAction @Contact.sendToContact() /};
	var addCommentAction = #{jsAction @Application.addComment() /};
	var editCommentAction = #{jsAction @Application.editComment(':uniqueId', ':commentId') /};
    var updateUserRealNameAction = #{jsAction @Settings.updateUserRealName() /};
    var updateUserDescriptionAction = #{jsAction @Settings.updateUserDescription() /};
	var getFavoriteInsightAction = #{jsAction @Application.getFavoriteInsight(':insightUniqueId') /};
	var insightHideCommentAction = #{jsAction @Admin.insightHideComment(':commentId') /};
	var showAvatarSmallFromEmailAction = #{jsAction @Application.showAvatarSmallFromEmail(':email') /};
    var isUserNameAvailableAction = #{jsAction @Register.isUserNameAvailable() /};
    var isEmailAvailableAction = #{jsAction @Register.isEmailAvailable() /};  
    var addToFavoritesFromSuggestedFacebookFriendsAction = #{jsAction @Application.addToFavoritesFromSuggestedFacebookFriends(':userIdOfTheFriendToAdd') /};
    var hideSuggestedFacebookFriendAction = #{jsAction @Application.hideSuggestedFacebookFriend(':userIdOfTheFriendToHide') /}
    var linkBeansightAccountWithFacebookAction = #{jsAction @Register.linkBeansightAccountWithFacebook() /}
    var manageFacebookFriendsFromSideBarAction = #{jsAction @Application.manageFacebookFriendsFromSideBar() /};
	</script>
</head>
<body>
        <!-- HEADER -->
        <div id="header" #{if displaySearchbar==false}class="notloguser"#{/if }>
            <div class="contentheader">
                <!-- LOGO -->
                <div class="colhead logocol" #{if !play.Play.id.equals("prod")}style="background-color: red;"#{/if}>
                    <h1><a href="/">Beansight</a></h1>
                </div>
                
                #{if displaySearchbar!=false}
                <!-- FORM SEARCH -->
                <div class="colhead searchcol">
                #{searchInput /}
                </div>
                #{/if }
                
                <!-- ZONE LOGIN -->
                <div class="colhead collogin">
                #{userOptions /}
                </div>
            </div>
        </div>

#{if session.contains("beansight_msg")}
    <div class="success">${session.get("beansight_msg")}</div>
    %{ session.remove("beansight_msg") }%
#{/if}   
#{if flash.error}
    <div class="error">&{flash.error}</div>
#{/if}
#{if flash.success}
    <div class="success">&{flash.success}</div>
#{/if}
	
<!-- CONTENU -->
<div id="content" class="#{get 'contentClass' /}">
<div id="gotoMobile" style="display:none;" class="topMessage">
    <p>
        <a class="message" href="@@{Mobile.insights()}">&{'main.gotoMobile'}</a>
    </p>
    <p>
        <a class="message" href="https://play.google.com/store/apps/details?id=com.beansight.android">&{'main.gotoAndroid'}</a>
    </p>
</div>
#{doLayout /}
</div>
	
<hr class="clear"/>

        <!-- FOOTER -->
        <div id="footer">
            <div class="backfooter"></div>
            <div class="contentfooter">
                <div class="menufooter">
                    <div class="colfooter">
                        <h2 class="cuf-grm">&{'footer.extra'}</h2>
                        <ul>
                            <li><a href="http://blog.beansight.com">&{'footer.blog'}</a></li>
                            *{<li><a href="#">&{'footer.about'}</a></li>
                            <li><a href="#">&{'footer.api'}</a></li>
                            <li><a href="#">&{'footer.jobs'}</a></li>}*
                            <li><a href="@{Application.termsOfUse()}">&{'footer.terms'}</a></li>
                            <li><a href="@{Application.privacyPolicy()}">&{'footer.privacy'}</a></li>
                        </ul>
                    </div>
                    <div class="colfooter">
                        <h2 class="cuf-grm">&{'footer.help'}</h2>
                        <ul>
                            <li><a href="@{Application.faq()}">&{'footer.faq'}</a></li>
                            <li><a href="@{Contact.contact()}">&{'footer.contact'}</a></li>
                            <li><a href="@{Security.forgotPasswordAskEmail()}">&{'footer.forgotPassword'}</a></li>
                            <li><a href="http://getsatisfaction.com/beansight">&{'footer.getsatisfaction'}</a></li>
                        </ul>
                    </div>
                    <div class="colfooter">
                        <h2 class="cuf-grm">&{'footer.links'}</h2>
                        <ul>
                        	<li><a href="http://www.startupweekend.org">&{'footer.startupweekend'}</a></li>
                        	<li><a href="http://www.lecamping.org">&{'footer.lecamping'}</a></li>
                        </ul>
                    </div>
                    <div class="colfooter">
                        <h2 class="cuf-grm">&{'footer.social'}</h2>
                        <a href="http://www.facebook.com/Beansight" target="_blank" class="sociallinks facebooklinks">
                            <span class="item likefb">Like facebook</span>
                            <span class="item titlesocial">&{'footer.facebook'}</span>
                            <span class="item nbsocial"><span id="facebookFans">201</span> Fans</span>
                        </a>
                        <a href="http://twitter.com/#!/beansight" target="_blank" class="sociallinks twitterlinks">
                            <span class="item titlesocial">&{'footer.twitter'}</span>
                            <span class="item nbsocial"><span id="twitterFollowers">126</span> followers</span>
                        </a>
                    </div>


                    <div class="copyright">
                        <p>&{'footer.copyright'}</p>
                        <p class="rights">&{'footer.allright'}</p>
                        <p class="authorwebsite">&{'footer.website'}</p>
                    </div>
                </div>
            </div>

        </div>

<script type="text/javascript" charset="utf-8">
// keyboard shortcuts
/*
$(document).bind("keydown", ["g", "i"], function () {
    window.location.href = "@{Application.insights()}";
}).bind("keydown", ["g", "e"], function () {
    window.location.href = "@{Application.experts()}";
}).bind("keydown", ["g", "p"], function () {
    window.location.href = "@{Application.profile()}";
}).bind("keydown", "c", function () {
    window.location.href = "@{Application.create()}";
}).bind("keydown", "/", function () {
    $('#txtsearch').focus();
});
*/
</script>

<script type="text/javascript" charset="utf-8">
  
  // Google Analytics
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-16319303-1']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	
   // Track logged users
   #{isConnected}
   _gaq.push(['_setCustomVar', 1, 'Logged', 'true', 3]);
   #{/isConnected}
   #{isNotConnected}
   _gaq.push(['_setCustomVar', 1, 'Logged', 'false', 3]);
   #{/isNotConnected}
</script>


</body>
</html>
